@{ 
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商铺搜-专注于商业地产大数据服务的商铺转让门户网</title>
    <meta name="keywords" content="商铺转让,商铺网,商铺出租,商铺出售,店面转让,旺铺,门面,商业地产,大数据,房产网,房产信息网" />
    <meta name="description" content="商铺搜为您提供全面的商铺,旺铺,店铺,生意,铺面,门面房,写字楼,厂房,仓库等转让,出租,出售,招租服务;人工智能除重审核,力争提供优质商铺大数据服务！" />
    <link rel="shortcut icon" href="http://www.shangpusou.com/favicon.ico" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/allindex.css" />
    <script src="/js/global.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">var current_domain = "http://www.shangpusou.com"; var current_cityid = "0"; var current_logfile = "mplogin.php";</script>

    <div class="header_top">
        <div class="top_main w1200 clear">
            <div class="top_l fl">
                <div class="city fl">
                    <div class="city-curr">全国</div>
                    <dl>
                        <dt>[</dt>
                        <dd><a href="http://www.shangpusou.com/changecity.php">切换城市</a></dd>
                        <dt>]</dt>
                    </dl>
                </div>
            </div>
            <div class="top_r fr">
                <div class="icon_box fl">
                    <a href="javascript:;">公众号<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="/picture/erweima.gif" alt="公众号">
                        <p>重要提醒不错过<br>手机操作更简单</p>
                    </div>
                </div>
                <div class="icon_box fl">
                    <a href="javascript:;">小程序<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="/picture/erweima_kf.gif" alt="小程序">
                        <p>扫码即用，无需下载</p>
                    </div>
                </div>
                <div class="zs fl">
                    <a href="#" target="_blank">+ 分站加盟</a>
                </div>
                <!--             <div class="pon_center fl">
                                <div class="flex_between pon_click">
                                    <span>个人中心</span>
                                    <em class="ico_down"></em>
                                </div>
                                <div class="list_box" style="display: none;">
                                    <a href="#" target="_blank">我的发布</a>
                                    <a href="#" target="_blank">我的浏览</a>
                                </div>
                            </div> -->
                <div id="mayilogin" class="login fl"><img src="/picture/loading.gif" border="0" align="absmiddle"></div>
            </div>
        </div>
    </div>

    <div id="ad_topbanner" class="clear"></div>


    <div class="header_mind w1200 clear">
        <div class="logo clear fl">
            <a href="http://www.shangpusou.com/" title="商铺网" class="fl">
                <img src="/picture/logo.png" alt="商铺搜" width="148" height="42">
            </a>
        </div>
        <div class="main_r fr">
            <a href="http://www.shangpusou.com/shangpusou-post.php?catid=&cityid=" class="fabu_btn" target="_blank">免费发布</a>
        </div>
        <div class="search fr">
            <form method="get" action="http://www.shangpusou.com/search.php?" id="searchForm" target="_blank">
                <input name="cityid" type="hidden" value="">
                <input type="hidden" id="searchtype" name="mod" value="information" />
                <div class="input_content clear">
                    <input type="text" class="fl" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech lang="zh-CN" />
                    <input type="submit" value="搜 索" class="searchheader_submit fl" />
                </div>
                <div class="fl search_navurl">
                    <li><a href="#" style="color:" target="_blank" title="培训学校优转">培训学校优转<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="商铺出租">商铺出租<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="酒店转让">酒店转让<sup class=""></sup></a></li>
                </div>
            </form>
        </div>
    </div><div class="nav_bg">
        <div class="nav_main w1280 clear">
            <ul>
                <li><a href="http://www.shangpusou.com" class="li_on">首页</a></li>
                <li><a target="_self" id="1" href="/shangpuzhuanrang/">生意转让</a></li>
                <li><a target="_self" id="2" href="/shangpuzushou/">商铺租售</a></li>
                <li><a target="_self" id="3" href="/changfang/">厂房</a></li>
                <li><a target="_self" id="4" href="/cangku/">仓库</a></li>
                <li><a target="_self" id="5" href="/xiezilou/">写字楼</a></li>
                <li><a target="_self" id="6" href="/qiuzuqiugou/">找铺</a></li>
                <li><a target="_self" id="news" href="http://www.shangpusou.com/news/">资讯</a></li>
            </ul>
        </div>
    </div>
    <div class="h20"></div>
    <div class="con w1280">
        <div class="syzr">
            <div class="syzr_title">
                <a href="http://www.shangpusou.com/shangpuzhuanrang/" class="fr" title="更多生意转让信息" target="_blank">更多&nbsp&gt;</a>
                <h2 class="span"><a href="http://www.shangpusou.com/shangpuzhuanrang/" target="_blank" title="最新生意转让信息">生意转让</a></h2>

            </div>
            <div class="fl  syzr_con">
                <dl>
                    <dt><a href="http://www.shangpusou.com/jiulou/" target="_blank" title="最新酒楼餐饮转让信息">酒楼餐饮</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/canguan/" title="餐馆转让">餐馆</a>
                        <a href="http://www.shangpusou.com/shitang/" title="食堂转让">食堂</a>
                        <a href="http://www.shangpusou.com/mianbaodian/" title="面包店转让">面包店</a>
                        <a href="http://www.shangpusou.com/lengyindian/" title="冷饮店转让">冷饮店</a>
                        <a href="http://www.shangpusou.com/tianpindian/" title="甜品店转让">甜品店</a>
                        <a href="http://www.shangpusou.com/kafeiguan/" title="咖啡馆转让">咖啡馆</a>
                        <a href="http://www.shangpusou.com/chayiguan/" title="茶艺馆转让">茶艺馆</a>
                        <a href="http://www.shangpusou.com/xiaochidian/" title="小吃店转让">小吃店</a>
                        <a href="http://www.shangpusou.com/shuiguodian/" title="水果店转让">水果店</a>
                        <a href="http://www.shangpusou.com/liangchadian/" title="凉茶店转让">凉茶店</a>
                        <a href="http://www.shangpusou.com/kuaicandian/" title="快餐店转让">快餐店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/baihuo/" target="_blank" title="最新百货超市转让信息">百货超市</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/wanjudian/" title="玩具店转让">玩具店</a>
                        <a href="http://www.shangpusou.com/chaoshi/" title="超市转让">超市</a>
                        <a href="http://www.shangpusou.com/bianlidian/" title="便利店转让">便利店</a>
                        <a href="http://www.shangpusou.com/xiaomaibu/" title="小卖部转让">小卖部</a>
                        <a href="http://www.shangpusou.com/jingpindian/" title="精品店转让">精品店</a>
                        <a href="http://www.shangpusou.com/ganhuozahuodian/" title="干货杂货店转让">干货杂货店</a>
                        <a href="http://www.shangpusou.com/yanjiuchayedian/" title="烟酒茶叶店转让">烟酒茶叶店</a>
                        <a href="http://www.shangpusou.com/muyingyongpindian/" title="母婴用品店转让">母婴用品店</a>
                        <a href="http://www.shangpusou.com/wenjudian/" title="文具店转让">文具店</a>
                        <a href="http://www.shangpusou.com/shudian/" title="书店转让">书店</a>
                        <a href="http://www.shangpusou.com/yinxiangdian/" title="音像店转让">音像店</a>
                        <a href="http://www.shangpusou.com/yanjingdian/" title="眼镜店转让">眼镜店</a>
                        <a href="http://www.shangpusou.com/huazhuangpindian/" title="化妆品店转让">化妆品店</a>
                        <a href="http://www.shangpusou.com/leqidian/" title="乐器店转让">乐器店</a>
                        <a href="http://www.shangpusou.com/gongyipindian/" title="工艺品店转让">工艺品店</a>
                        <a href="http://www.shangpusou.com/zhubaoshoushi/" title="珠宝首饰转让">珠宝首饰</a>
                        <a href="http://www.shangpusou.com/chuangshangyongpin/" title="床上用品转让">床上用品</a>
                        <a href="http://www.shangpusou.com/tiyuyongpindian/" title="体育用品店转让">体育用品店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/shenghuo/" target="_blank" title="最新生活服务转让信息">生活服务</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/ganxidian/" title="干洗店转让">干洗店</a>
                        <a href="http://www.shangpusou.com/huadianshuizu/" title="花店水族转让">花店水族</a>
                        <a href="http://www.shangpusou.com/gonghuachaoshi/" title="公话超市转让">公话超市</a>
                        <a href="http://www.shangpusou.com/caipiaodian/" title="彩票店转让">彩票店</a>
                        <a href="http://www.shangpusou.com/baokanting/" title="报刊亭转让">报刊亭</a>
                        <a href="http://www.shangpusou.com/songshuisongqidian/" title="水站送气店转让">水站送气店</a>
                        <a href="http://www.shangpusou.com/chongwudian/" title="宠物店转让">宠物店</a>
                        <a href="http://www.shangpusou.com/zhaoxiangguan/" title="照相馆转让">照相馆</a>
                        <a href="http://www.shangpusou.com/hunshasheyingdian/" title="婚纱摄影店转让">婚纱摄影店</a>
                        <a href="http://www.shangpusou.com/hunjiesuo/" title="婚介所转让">婚介所</a>
                        <a href="http://www.shangpusou.com/zhijiesuo/" title="职介所转让">职介所</a>
                        <a href="http://www.shangpusou.com/jiazhengzhongxin/" title="家政中心转让">家政中心</a>
                        <a href="http://www.shangpusou.com/dazifuyin/" title="打字复印转让">打字复印</a>
                        <a href="http://www.shangpusou.com/meixiexiuxiedian/" title="美鞋修鞋店转让">美鞋修鞋店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/fushi/" target="_blank" title="最新服饰鞋包转让信息">服饰鞋包</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/fuzhuangdian/" title="服装店转让">服装店</a>
                        <a href="http://www.shangpusou.com/neiyidian/" title="内衣店转让">内衣店</a>
                        <a href="http://www.shangpusou.com/tongzhuangdian/" title="童装店转让">童装店</a>
                        <a href="http://www.shangpusou.com/xiedian/" title="鞋店转让">鞋店</a>
                        <a href="http://www.shangpusou.com/xiangbaodian/" title="箱包店转让">箱包店</a>
                        <a href="http://www.shangpusou.com/shipindian/" title="饰品店转让">饰品店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/yiyao/" target="_blank" title="最新医药保健转让信息">医药保健</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/yiyuan/" title="医院转让">医院</a>
                        <a href="http://www.shangpusou.com/zhensuo/" title="诊所转让">诊所</a>
                        <a href="http://www.shangpusou.com/yaodian/" title="药店转让">药店</a>
                        <a href="http://www.shangpusou.com/baojianpindian/" title="保健品店转让">保健品店</a>
                        <a href="http://www.shangpusou.com/chengrenyongpindian/" title="成人用品店转让">成人用品店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/qixiu/" target="_blank" title="最新汽修美容转让信息">汽修美容</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/qixiuchang/" title="汽修厂转让">汽修厂</a>
                        <a href="http://www.shangpusou.com/qipeidian/" title="汽配店转让">汽配店</a>
                        <a href="http://www.shangpusou.com/luntaidian/" title="轮胎店转让">轮胎店</a>
                        <a href="http://www.shangpusou.com/qichemeirongdian/" title="汽车美容店转让">汽车美容店</a>
                        <a href="http://www.shangpusou.com/chechang/" title="车场转让">车场</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/xiuxian/" target="_blank" title="最新休闲娱乐转让信息">休闲娱乐</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/wangba/" title="网吧转让">网吧</a>
                        <a href="http://www.shangpusou.com/jiuba/" title="酒吧转让">酒吧</a>
                        <a href="http://www.shangpusou.com/zuyu/" title="足浴转让">足浴</a>
                        <a href="http://www.shangpusou.com/shuiliao/" title="水疗转让">水疗</a>
                        <a href="http://www.shangpusou.com/qiuguan/" title="球馆转让">球馆</a>
                        <a href="http://www.shangpusou.com/majiangguan/" title="麻将馆转让">麻将馆</a>
                        <a href="http://www.shangpusou.com/guan/" title="瑜伽馆转让">瑜伽馆</a>
                        <a href="http://www.shangpusou.com/gewuting/" title="歌舞厅(ktv)转让">歌舞厅(ktv)</a>
                        <a href="http://www.shangpusou.com/yangshengguan/" title="养生馆转让">养生馆</a>
                        <a href="http://www.shangpusou.com/yezonghui/" title="夜总会转让">夜总会</a>
                        <a href="http://www.shangpusou.com/zhuoqiucheng/" title="桌球城转让">桌球城</a>
                        <a href="http://www.shangpusou.com/jianshenfang/" title="健身房转让">健身房</a>
                        <a href="http://www.shangpusou.com/youyongguan/" title="游泳馆转让">游泳馆</a>
                        <a href="http://www.shangpusou.com/xiuxianzhongxin/" title="休闲中心转让">休闲中心</a>
                        <a href="http://www.shangpusou.com/qipaishi/" title="棋牌室转让">棋牌室</a>
                        <a href="http://www.shangpusou.com/dianwancheng/" title="电玩城转让">电玩城</a>
                        <a href="http://www.shangpusou.com/liubingchang/" title="溜冰场转让">溜冰场</a>
                        <a href="http://www.shangpusou.com/ertongleyuan/" title="儿童乐园转让">儿童乐园</a>
                        <a href="http://www.shangpusou.com/dujiashanzhuang/" title="度假山庄转让">度假山庄</a>
                        <a href="http://www.shangpusou.com/yingeryouyongguan/" title="婴儿游泳馆转让">婴儿游泳馆</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/lvguanbinguan/" target="_blank" title="最新旅馆宾馆转让信息">旅馆宾馆</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/lvguan/" title="旅馆转让">旅馆</a>
                        <a href="http://www.shangpusou.com/binguanjiudian/" title="宾馆酒店转让">宾馆酒店</a>
                        <a href="http://www.shangpusou.com/zhaodaisuo/" title="招待所转让">招待所</a>
                        <a href="http://www.shangpusou.com/gongyufang/" title="公寓房转让">公寓房</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/meirong/" target="_blank" title="最新美容美发转让信息">美容美发</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/meirongyuan/" title="美容院转让">美容院</a>
                        <a href="http://www.shangpusou.com/meifadian/" title="美发店转让">美发店</a>
                        <a href="http://www.shangpusou.com/meijiadian/" title="美甲店转让">美甲店</a>
                        <a href="http://www.shangpusou.com/spaguan/" title="SPA馆转让">SPA馆</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/jiaoyu/" target="_blank" title="最新教育培训转让信息">教育培训</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/xuexiao/" title="学校转让">学校</a>
                        <a href="http://www.shangpusou.com/youeryuan/" title="幼儿园转让">幼儿园</a>
                        <a href="http://www.shangpusou.com/peixunjigou/" title="培训机构转让">培训机构</a>
                        <a href="http://www.shangpusou.com/jiajiaozhongxin/" title="家教中心转让">家教中心</a>
                        <a href="http://www.shangpusou.com/zaojiaozhongxin/" title="早教中心转让">早教中心</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/jiaju/" target="_blank" title="最新家居建材转让信息">家居建材</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/wujindian/" title="五金店转让">五金店</a>
                        <a href="http://www.shangpusou.com/jiancaidian/" title="建材店转让">建材店</a>
                        <a href="http://www.shangpusou.com/jiajudian/" title="家具店转让">家具店</a>
                        <a href="http://www.shangpusou.com/dengshidian/" title="灯饰店转让">灯饰店</a>
                        <a href="http://www.shangpusou.com/jiajushipindian/" title="家居饰品店转让">家居饰品店</a>
                        <a href="http://www.shangpusou.com/zhuangshizhuangxiucailiaodian/" title="装饰装修材料店转让">装饰装修材料店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/dianzi/" target="_blank" title="最新电子通讯转让信息">电子通讯</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/shoujidian/" title="手机店转让">手机店</a>
                        <a href="http://www.shangpusou.com/diannaodian/" title="电脑店转让">电脑店</a>
                        <a href="http://www.shangpusou.com/dianqidian/" title="电器店转让">电器店</a>
                        <a href="http://www.shangpusou.com/weixiudian/" title="维修店转让">维修店</a>
                        <a href="http://www.shangpusou.com/tongxunyongpindian/" title="通讯用品店转让">通讯用品店</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/zhuangui/" target="_blank" title="最新专柜转让信息">专柜</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/shangchangzhuangui/" title="商场专柜转让">商场专柜</a>
                        <a href="http://www.shangpusou.com/dianzizhuangui/" title="电子专柜转让">电子专柜</a>
                        <a href="http://www.shangpusou.com/qitazhuangui/" title="其他专柜转让">其他专柜</a>
                    </dd>

                </dl>
                <dl>
                    <dt><a href="http://www.shangpusou.com/qita/" target="_blank" title="最新其它行业转让信息">其它行业</a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/gongsi/" title="公司转让">公司</a>
                        <a href="http://www.shangpusou.com/gongchang/" title="工厂转让">工厂</a>
                        <a href="http://www.shangpusou.com/zhengzhao/" title="证照转让">证照</a>
                        <a href="http://www.shangpusou.com/shebei/" title="设备转让">设备</a>
                        <a href="http://www.shangpusou.com/nongchang/" title="农场转让">农场</a>
                        <a href="http://www.shangpusou.com/kongpu/" title="空铺转让">空铺</a>
                    </dd>

                </dl>
                <div class="clear"></div>
            </div>
            <div class="syzr_hot">
                <div class="syzr_title">
                    <h2><a href="http://www.shangpusou.com/shangpuzhuanrang/" target="_blank" title="最热生意转让">最热生意转让</a></h2>
                </div>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://dongguan.shangpusou.com/zhaoxiangguan/f6704216.html" target="_blank">
                                    <img alt="东莞市虎门镇广告摄影工作室转让" title="东莞市虎门镇广告摄影工作室转让" src="/picture/pre_1644802785pvsh8.jpeg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://dongguan.shangpusou.com/" title="东莞商铺网" target="_blank">东莞</a>]</em>
                                    <a href="http://dongguan.shangpusou.com/zhaoxiangguan/f6704216.html" title="东莞市虎门镇广告摄影工作室转让" target="_blank">东莞市虎门镇广告摄影工作室转让</a>
                                </p>
                                <p>面积：<em>200</em>㎡</p>
                                <p>电话：13549348875</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://nanjing.shangpusou.com/canguan/f6704214.html" target="_blank">
                                    <img alt="栖霞区金尧路旺铺急转" title="栖霞区金尧路旺铺急转" src="/picture/pre_16447568660nwvr.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://nanjing.shangpusou.com/" title="南京商铺网" target="_blank">南京</a>]</em>
                                    <a href="http://nanjing.shangpusou.com/canguan/f6704214.html" title="栖霞区金尧路旺铺急转" target="_blank">栖霞区金尧路旺铺急转</a>
                                </p>
                                <p>面积：<em>280</em>㎡</p>
                                <p>电话：15295577767</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://jinan.shangpusou.com/gongsi/f6704213.html" target="_blank">
                                    <img alt="历城唐冶生意转让 接手即可营业" title="历城唐冶生意转让 接手即可营业" src="/picture/pre_1644753111mpgww.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://jinan.shangpusou.com/" title="济南商铺网" target="_blank">济南</a>]</em>
                                    <a href="http://jinan.shangpusou.com/gongsi/f6704213.html" title="历城唐冶生意转让 接手即可营业" target="_blank">历城唐冶生意转让 接手即可营业</a>
                                </p>
                                <p>面积：<em>30</em>㎡</p>
                                <p>电话：15552590788</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://chongqing.shangpusou.com/gongyufang/f6704212.html" target="_blank">
                                    <img alt="急转盈利中公寓三峡广场商圈附近" title="急转盈利中公寓三峡广场商圈附近" src="/picture/pre_1644748097nptko.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://chongqing.shangpusou.com/" title="重庆商铺网" target="_blank">重庆</a>]</em>
                                    <a href="http://chongqing.shangpusou.com/gongyufang/f6704212.html" title="急转盈利中公寓三峡广场商圈附近" target="_blank">急转盈利中公寓三峡广场商圈附近</a>
                                </p>
                                <p>面积：<em>500</em>㎡</p>
                                <p>电话：13983422001</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://haerbin.shangpusou.com/xiaochidian/f6704211.html" target="_blank">
                                    <img alt="黄金旺铺跳楼价转让" title="黄金旺铺跳楼价转让" src="/picture/pre_1644713058f4d5u.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://haerbin.shangpusou.com/" title="哈尔滨商铺网" target="_blank">哈尔滨</a>]</em>
                                    <a href="http://haerbin.shangpusou.com/xiaochidian/f6704211.html" title="黄金旺铺跳楼价转让" target="_blank">黄金旺铺跳楼价转让</a>
                                </p>
                                <p>面积：<em>35</em>㎡</p>
                                <p>电话：13251672691</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://shenyang.shangpusou.com/chaoshi/f6704210.html" target="_blank">
                                    <img alt="小区超市" title="小区超市" src="/picture/pre_1644657125wns9c.jpeg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://shenyang.shangpusou.com/" title="沈阳商铺网" target="_blank">沈阳</a>]</em>
                                    <a href="http://shenyang.shangpusou.com/chaoshi/f6704210.html" title="小区超市" target="_blank">小区超市</a>
                                </p>
                                <p>面积：<em>160</em>㎡</p>
                                <p>电话：17777811971</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://ningbo.shangpusou.com/zhengzhao/f6704205.html" target="_blank">
                                    <img alt="一种便携式防爆盾" title="一种便携式防爆盾" src="/picture/pre_1644578096vzugc.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://ningbo.shangpusou.com/" title="宁波商铺网" target="_blank">宁波</a>]</em>
                                    <a href="http://ningbo.shangpusou.com/zhengzhao/f6704205.html" title="一种便携式防爆盾" target="_blank">一种便携式防爆盾</a>
                                </p>
                                <p>面积：<em>0</em>㎡</p>
                                <p>电话：13456175413</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://xian.shangpusou.com/yaodian/f6704204.html" target="_blank">
                                    <img alt="药店转让" title="药店转让" src="/picture/pre_1644574446cr2lv.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://xian.shangpusou.com/" title="西安商铺网" target="_blank">西安</a>]</em>
                                    <a href="http://xian.shangpusou.com/yaodian/f6704204.html" title="药店转让" target="_blank">药店转让</a>
                                </p>
                                <p>面积：<em>140</em>㎡</p>
                                <p>电话：18009209446</p>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <dl>
                            <dt>
                                <a href="http://chongqing.shangpusou.com/zhensuo/f6704201.html" target="_blank">
                                    <img alt="门诊转让" title="门诊转让" src="/picture/pre_1644551355futbc.jpg">
                                </a>
                            </dt>
                            <dd>
                                <p class="syzr_hot_title">
                                    <em>[<a href="http://chongqing.shangpusou.com/" title="重庆商铺网" target="_blank">重庆</a>]</em>
                                    <a href="http://chongqing.shangpusou.com/zhensuo/f6704201.html" title="门诊转让" target="_blank">门诊转让</a>
                                </p>
                                <p>面积：<em>1415</em>㎡</p>
                                <p>电话：13110122435</p>
                            </dd>
                        </dl>

                    </li>
                </ul>
            </div>
        </div>
        <div class="news_index">
            <div class="index_title">
                <h2><a href="http://www.shangpusou.com/article/" title="更多新闻资讯" target="_blank">公告.资讯</a></h2>
            </div>



            <div class="news_index_div">
                <ul>
                    <li><i>[09-09]</i><a href="http://www.shangpusou.com/announce.html#1" style="color:" target="_blank" title="新版系统切换中，不影响信息发布与展示">新版系统切换中，不影响信息发布与展示</a></li>
                </ul>
            </div>
            <div class="news_index_div">

                <ul>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_5.html" target="_blank">动态</a>]</i><a href="http://www.shangpusou.com/news/1.html" target="_blank" title="招商地产董事长" 被架空" 贺建亚成第一责">招商地产董事长"被架空" 贺建亚成第一责</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_5.html" target="_blank">动态</a>]</i><a href="http://www.shangpusou.com/news/2731.html" target="_blank" title="疫情对楼市影响几何？中指院：市场量价都存在下调压力">疫情对楼市影响几何？中指院：市场量价都存在下调压力</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_5.html" target="_blank">动态</a>]</i><a href="http://www.shangpusou.com/news/2733.html" target="_blank" title="病毒可能长期存在 我们普通人应该如何应对？">病毒可能长期存在 我们普通人应该如何应对？</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_5.html" target="_blank">动态</a>]</i><a href="http://www.shangpusou.com/news/2714.html" target="_blank" title="央行降准:房企缓解资金压力 增加房贷利率下调的可能">央行降准:房企缓解资金压力 增加房贷利率下调的可能</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_5.html" target="_blank">动态</a>]</i><a href="http://www.shangpusou.com/news/2716.html" target="_blank" title="开年8000亿元降准“礼包”将惠及谁？">开年8000亿元降准“礼包”将惠及谁？</a></li>
                </ul>

            </div>

            <div class="news_index_div">

                <ul>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_1.html" target="_blank">经验</a>]</i><a href="http://www.shangpusou.com/news/2718.html" target="_blank" title="教你几个能快速除去新家装修味道的巧招">教你几个能快速除去新家装修味道的巧招</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_1.html" target="_blank">经验</a>]</i><a href="http://www.shangpusou.com/news/1086.html" target="_blank" title="开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？">开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_1.html" target="_blank">经验</a>]</i><a href="http://www.shangpusou.com/news/1481.html" target="_blank" title="蛋糕店初期如何创意营销来吸引顾客">蛋糕店初期如何创意营销来吸引顾客</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_1.html" target="_blank">经验</a>]</i><a href="http://www.shangpusou.com/news/2722.html" target="_blank" title="预付定金可以退吗 购房定金协议书怎么写看这里">预付定金可以退吗 购房定金协议书怎么写看这里</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_1.html" target="_blank">经验</a>]</i><a href="http://www.shangpusou.com/news/12.html" target="_blank" title="商铺租赁合同纠纷,商铺租赁合同签了十年惹上官司，都是反悔惹的">商铺租赁合同纠纷,商铺租赁合同签了十年惹上官司，都是反悔惹的</a></li>
                </ul>
            </div>

            <div class="news_index_div">

                <ul>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_2.html" target="_blank">案例</a>]</i><a href="http://www.shangpusou.com/news/2729.html" target="_blank" title="警惕房产销售猫腻：收取未予标明价款属变相涨价">警惕房产销售猫腻：收取未予标明价款属变相涨价</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_2.html" target="_blank">案例</a>]</i><a href="http://www.shangpusou.com/news/2724.html" target="_blank" title="小区里这些车位不能进行买卖">小区里这些车位不能进行买卖</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_2.html" target="_blank">案例</a>]</i><a href="http://www.shangpusou.com/news/1020.html" target="_blank" title="大学生丁齐全开3D打印社月入1.5万">大学生丁齐全开3D打印社月入1.5万</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_2.html" target="_blank">案例</a>]</i><a href="http://www.shangpusou.com/news/1021.html" target="_blank" title="开服装店赚钱吗?蒋颖婷在写字楼开服装店也能赚大钱">开服装店赚钱吗?蒋颖婷在写字楼开服装店也能赚大钱</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_2.html" target="_blank">案例</a>]</i><a href="http://www.shangpusou.com/news/1022.html" target="_blank" title="黄明教授卖卤菜一个月卖了20万">黄明教授卖卤菜一个月卖了20万</a></li>
                </ul>
            </div>

            <div class="news_index_div">

                <ul>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_3.html" target="_blank">风水</a>]</i><a href="http://www.shangpusou.com/news/2720.html" target="_blank" title="主卧室风水布局禁忌">主卧室风水布局禁忌</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_3.html" target="_blank">风水</a>]</i><a href="http://www.shangpusou.com/news/2726.html" target="_blank" title="家居风水中如何装饰厨房">家居风水中如何装饰厨房</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_3.html" target="_blank">风水</a>]</i><a href="http://www.shangpusou.com/news/799.html" target="_blank" title="聚财聚人气 商铺装饰风水有四点常识">聚财聚人气 商铺装饰风水有四点常识</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_3.html" target="_blank">风水</a>]</i><a href="http://www.shangpusou.com/news/867.html" target="_blank" title="商铺取名也改讲求风水 店铺取名风水浅谈">商铺取名也改讲求风水 店铺取名风水浅谈</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_3.html" target="_blank">风水</a>]</i><a href="http://www.shangpusou.com/news/868.html" target="_blank" title="新店开张 商铺搜网教你如何如何选择风水">新店开张 商铺搜网教你如何如何选择风水</a></li>
                </ul>
            </div>

            <div class="news_index_div">

                <ul>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_4.html" target="_blank">装修</a>]</i><a href="http://www.shangpusou.com/news/2715.html" target="_blank" title="装修一定要懂得验房，这里有验房知识">装修一定要懂得验房，这里有验房知识</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_4.html" target="_blank">装修</a>]</i><a href="http://www.shangpusou.com/news/725.html" target="_blank" title="个性小店效果图">个性小店效果图</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_4.html" target="_blank">装修</a>]</i><a href="http://www.shangpusou.com/news/804.html" target="_blank" title="面包和蛋糕等烘焙类店面装修效果图">面包和蛋糕等烘焙类店面装修效果图</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_4.html" target="_blank">装修</a>]</i><a href="http://www.shangpusou.com/news/805.html" target="_blank" title="发廊,理发店装修效果图">发廊,理发店装修效果图</a></li>
                    <li><i>[<a href="http://www.shangpusou.com/news/catid_4.html" target="_blank">装修</a>]</i><a href="http://www.shangpusou.com/news/806.html" target="_blank" title="解读：宜家商场布局“绕”道">解读：宜家商场布局“绕”道</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="h20"></div>
    <div class="con w1280">
        <div class="spzs_l">
            <div class="index_title">
                <h2><a href="http://www.shangpusou.com/shangpuzushou/" target="_blank" title="更多最新商铺信息">商铺租售</a></h2>
            </div>
            <div class="spzs_l_t">
                <dl class="fl">
                    <dt><a href="http://www.shangpusou.com/shangpuchuzu/" target="_blank" title="更多最新商铺出租信息"><span class="iconfont">&#xe69e;</span><b>商铺出租</b></a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/shangpuchuzu/1-0-0-0_0-1/" target="_blank">临街商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/3-0-0-0_0-1/" target="_blank">商场市场商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/5-0-0-0_0-1/" target="_blank">地铁景点商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/7-0-0-0_0-1/" target="_blank">工业区商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/sptype-4/" target="_blank">校区商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/sptype-2/" target="_blank">写字楼底商</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/sptype-3/" target="_blank">社区商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchuzu/sptype-1/" target="_blank">商业综合体</a>
                    </dd>
                </dl>
                <dl class="fr">
                    <dt><a href="http://www.shangpusou.com/shangpuchushou/" title="更多最新商铺出售信息"><span class="iconfont">&#xe62a;</span><b>商铺出售</b></a></dt>
                    <dd>
                        <a href="http://www.shangpusou.com/shangpuchushou/1-0-0-0_0-1/" target="_blank">临街商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/3-0-0-0_0-1/" target="_blank">商场市场商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/5-0-0-0_0-1/" target="_blank">地铁景点商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/7-0-0-0_0-1/" target="_blank">工业区商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/8-0-0-0_0-1/" target="_blank">校区商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/9-0-0-0_0-1/" target="_blank">写字楼底商</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/11-0-0-0_0-1/" target="_blank">社区商铺</a>
                        <a href="http://www.shangpusou.com/shangpuchushou/12-0-0-0_0-1/" target="_blank">商业综合体</a>
                    </dd>
                </dl>
            </div>
            <div class="index_title"><h2><a href="http://www.shangpusou.com/shangpuchuzu/" target="_blank" title="更多最新商铺出租信息">商铺出租</a></h2></div>
            <ul>
                <li>
                    <dl>
                        <dt><a href="http://wulumuqi.shangpusou.com/shangpuchuzu/f6704200.html" target="_blank"><img alt="汇嘉时代三楼星聚汇影院内旺铺招租" title="汇嘉时代三楼星聚汇影院内旺铺招租" src="/picture/pre_1644549828wfjy1.jpeg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://wulumuqi.shangpusou.com/" title="乌鲁木齐商铺出租" target="_blank">乌鲁木齐</a>]</em><a href="http://wulumuqi.shangpusou.com/shangpuchuzu/f6704200.html" class="hei" target="_blank">汇嘉时代三楼星聚汇影院内旺铺招租</a></p>
                            <p>面积：<em>30</em>㎡</p>
                            <p>电话：13119913901</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://fuyang.shangpusou.com/shangpuchuzu/f6704199.html" target="_blank"><img alt="干洗店老店转让，接手即可盈利" title="干洗店老店转让，接手即可盈利" src="/picture/pre_1644546322pgso3.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://fuyang.shangpusou.com/" title="阜阳商铺出租" target="_blank">阜阳</a>]</em><a href="http://fuyang.shangpusou.com/shangpuchuzu/f6704199.html" class="hei" target="_blank">干洗店老店转让，接手即可盈利</a></p>
                            <p>面积：<em>61</em>㎡</p>
                            <p>电话：13956813935</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://dazhou.shangpusou.com/shangpuchuzu/f6704180.html" target="_blank"><img alt="市内中心广场旺铺转让" title="市内中心广场旺铺转让" src="/picture/pre_1643896680bilc1.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://dazhou.shangpusou.com/" title="达州商铺出租" target="_blank">达州</a>]</em><a href="http://dazhou.shangpusou.com/shangpuchuzu/f6704180.html" class="hei" target="_blank">市内中心广场旺铺转让</a></p>
                            <p>面积：<em>90</em>㎡</p>
                            <p>电话：18981494029</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://nanjing.shangpusou.com/shangpuchuzu/f6704175.html" target="_blank"><img alt="王桥路167号门面房出租" title="王桥路167号门面房出租" src="/picture/pre_1643738437ug2u9.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://nanjing.shangpusou.com/" title="南京商铺出租" target="_blank">南京</a>]</em><a href="http://nanjing.shangpusou.com/shangpuchuzu/f6704175.html" class="hei" target="_blank">王桥路167号门面房出租</a></p>
                            <p>面积：<em>120</em>㎡</p>
                            <p>电话：13770599605</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://quzhou.shangpusou.com/shangpuchuzu/f6704173.html" target="_blank"><img alt="五环路店面出租" title="五环路店面出租" src="/picture/pre_1643365333rumqx.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://quzhou.shangpusou.com/" title="衢州商铺出租" target="_blank">衢州</a>]</em><a href="http://quzhou.shangpusou.com/shangpuchuzu/f6704173.html" class="hei" target="_blank">五环路店面出租</a></p>
                            <p>面积：<em>103</em>㎡</p>
                            <p>电话：13957018648</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="shangpuchuzu/f6704169.html" target="_blank"><img alt="旺铺出租" title="旺铺出租" src="/picture/pre_16432553374ci6c.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="" title="商铺出租" target="_blank"></a>]</em><a href="shangpuchuzu/f6704169.html" class="hei" target="_blank">旺铺出租</a></p>
                            <p>面积：<em>39</em>㎡</p>
                            <p>电话：15077324513</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://weinan.shangpusou.com/shangpuchuzu/f6704155.html" target="_blank"><img alt="临街旺铺临近渭南师范，招租、合作" title="临街旺铺临近渭南师范，招租、合作" src="/picture/pre_1642687430fhwdu.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://weinan.shangpusou.com/" title="渭南商铺出租" target="_blank">渭南</a>]</em><a href="http://weinan.shangpusou.com/shangpuchuzu/f6704155.html" class="hei" target="_blank">临街旺铺临近渭南师范，招租、合作</a></p>
                            <p>面积：<em>400</em>㎡</p>
                            <p>电话：13008520086</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://xuzhou.shangpusou.com/shangpuchuzu/f6704146.html" target="_blank"><img alt="澳东印象城西门门面出租" title="澳东印象城西门门面出租" src="/picture/pre_1642443337fniia.jpeg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://xuzhou.shangpusou.com/" title="徐州商铺出租" target="_blank">徐州</a>]</em><a href="http://xuzhou.shangpusou.com/shangpuchuzu/f6704146.html" class="hei" target="_blank">澳东印象城西门门面出租</a></p>
                            <p>面积：<em>76</em>㎡</p>
                            <p>电话：13775978743</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://baoji.shangpusou.com/shangpuchuzu/f6704141.html" target="_blank"><img alt="房东直租，无转让费，租金面议" title="房东直租，无转让费，租金面议" src="/picture/pre_1642389102nxpsv.jpeg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://baoji.shangpusou.com/" title="宝鸡商铺出租" target="_blank">宝鸡</a>]</em><a href="http://baoji.shangpusou.com/shangpuchuzu/f6704141.html" class="hei" target="_blank">房东直租，无转让费，租金面议</a></p>
                            <p>面积：<em>60</em>㎡</p>
                            <p>电话：13991722708</p>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="allindex_r">
            <div class="allindex_r_div">
                <div class="index_title">
                    <h2><a href="http://www.shangpusou.com/shangpuchushou/" target="_blank" title="更多最新商铺出售信息">商铺出售</a></h2>
                </div>
                <ul>
                    <li><em>[<a href="http://tangshan.shangpusou.com/" title="唐山商铺出售" target="_blank">唐山</a>]</em><a href="http://tangshan.shangpusou.com/shangpuchushou/f6704168.html" title="沿街四层独栋低价出售" target="_blank">沿街四层独栋低价出售</a></li>
                    <li><em>[<a href="http://hefei.shangpusou.com/" title="合肥商铺出售" target="_blank">合肥</a>]</em><a href="http://hefei.shangpusou.com/shangpuchushou/f6704126.html" title="国祯广场一手公公寓7800一平" target="_blank">国祯广场一手公公寓7800一平</a></li>
                    <li><em>[<a href="http://guangzhou.shangpusou.com/" title="广州商铺出售" target="_blank">广州</a>]</em><a href="http://guangzhou.shangpusou.com/shangpuchushou/f6704091.html" title="出售竹料大街一线旺铺" target="_blank">出售竹料大街一线旺铺</a></li>
                    <li><em>[<a href="http://chongqing.shangpusou.com/" title="重庆商铺出售" target="_blank">重庆</a>]</em><a href="http://chongqing.shangpusou.com/shangpuchushou/f6704048.html" title="悦来临街带租约商铺" target="_blank">悦来临街带租约商铺</a></li>
                    <li><em>[<a href="http://chongqing.shangpusou.com/" title="重庆商铺出售" target="_blank">重庆</a>]</em><a href="http://chongqing.shangpusou.com/shangpuchushou/f6704021.html" title="巴南巴滨路澜山望" target="_blank">巴南巴滨路澜山望</a></li>
                    <li><em>[<a href="http://hangzhou.shangpusou.com/" title="杭州商铺出售" target="_blank">杭州</a>]</em><a href="http://hangzhou.shangpusou.com/shangpuchushou/f6704014.html" title="杭州科技城loft首付50万" target="_blank">杭州科技城loft首付50万</a></li>
                    <li><em>[<a href="http://zhuhai.shangpusou.com/" title="珠海商铺出售" target="_blank">珠海</a>]</em><a href="http://zhuhai.shangpusou.com/shangpuchushou/f6704001.html" title="商铺地址，情侣中路12-108号，面积150.87，有意者电" target="_blank">商铺地址，情侣中路12-108号，面积150.87，有意者</a></li>
                    <li><em>[<a href="http://shenzhen.shangpusou.com/" title="深圳商铺出售" target="_blank">深圳</a>]</em><a href="http://shenzhen.shangpusou.com/shangpuchushou/f6703985.html" title="笋铺，捡漏，业主急用钱甩卖临街旺铺，即买收租" target="_blank">笋铺，捡漏，业主急用钱甩卖临街旺铺，即买收租</a></li>
                    <li><em>[<a href="http://chuzhou.shangpusou.com/" title="滁州商铺出售" target="_blank">滁州</a>]</em><a href="http://chuzhou.shangpusou.com/shangpuchushou/f6703984.html" title="市区商铺-34-120平纯一楼-沿街商铺-无业态限制-现房" target="_blank">市区商铺-34-120平纯一楼-沿街商铺-无业态</a></li>
                    <li><em>[<a href="http://dalian.shangpusou.com/" title="大连商铺出售" target="_blank">大连</a>]</em><a href="http://dalian.shangpusou.com/shangpuchushou/f6703981.html" title="出售金州古城丁区爱民市场临街260平公建" target="_blank">出售金州古城丁区爱民市场临街260平公建</a></li>
                    <li><em>[<a href="http://shenzhen.shangpusou.com/" title="深圳商铺出售" target="_blank">深圳</a>]</em><a href="http://shenzhen.shangpusou.com/shangpuchushou/f6703980.html" title="租客肯德基商铺，年收租200万，龙头转角铺，即买收租" target="_blank">租客肯德基商铺，年收租200万，龙头转角铺，即买</a></li>
                    <li><em>[<a href="http://yancheng.shangpusou.com/" title="盐城商铺出售" target="_blank">盐城</a>]</em><a href="http://yancheng.shangpusou.com/shangpuchushou/f6703975.html" title="建湖县德容装饰城临街旺铺出售" target="_blank">建湖县德容装饰城临街旺铺出售</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="h20"></div>
    <div class="con w1280">
        <div class="spzs_l">
            <div class="index_title">
                <h2><a href="http://www.shangpusou.com/xiezilouchuzu/" target="_blank" title="更多最新写字楼出租信息">写字楼出租</a></h2>
            </div>

            <ul>
                <li>
                    <dl>
                        <dt><a href="http://shenzhen.shangpusou.com/xiezilouchuzu/f6704197.html" target="_blank"><img alt="横岗全新装修写字楼招租" title="横岗全新装修写字楼招租" src="/picture/pre_1644476042rv15y.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://shenzhen.shangpusou.com/" title="深圳写字楼出租" target="_blank">深圳</a>]</em><a href="http://shenzhen.shangpusou.com/xiezilouchuzu/f6704197.html" class="hei" target="_blank">横岗全新装修写字楼招租</a></p>
                            <p>面积：<em>50</em>㎡</p>
                            <p>电话：18025499191</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://guilin.shangpusou.com/xiezilouchuzu/f6704152.html" target="_blank"><img alt="天之泰大厦（万象城对面）" title="天之泰大厦（万象城对面）" src="/picture/pre_16425573695bnns.jpeg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://guilin.shangpusou.com/" title="桂林写字楼出租" target="_blank">桂林</a>]</em><a href="http://guilin.shangpusou.com/xiezilouchuzu/f6704152.html" class="hei" target="_blank">天之泰大厦（万象城对面）</a></p>
                            <p>面积：<em>7000</em>㎡</p>
                            <p>电话：18777353990</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://chongqing.shangpusou.com/xiezilouchuzu/f6704144.html" target="_blank"><img alt="出租大渡口区轻轨站旁天安数码城写字楼" title="出租大渡口区轻轨站旁天安数码城写字楼" src="/picture/pre_1642403854yc0rj.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://chongqing.shangpusou.com/" title="重庆写字楼出租" target="_blank">重庆</a>]</em><a href="http://chongqing.shangpusou.com/xiezilouchuzu/f6704144.html" class="hei" target="_blank">出租大渡口区轻轨站旁天安数码城写字楼</a></p>
                            <p>面积：<em>500</em>㎡</p>
                            <p>电话：15825929231</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://chongqing.shangpusou.com/xiezilouchuzu/f6703995.html" target="_blank"><img alt="红旗河沟龙湖新壹街使用面积约**平米中商铺出租" title="红旗河沟龙湖新壹街使用面积约**平米中商铺出租" src="/picture/pre_1638171126cq3ac.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://chongqing.shangpusou.com/" title="重庆写字楼出租" target="_blank">重庆</a>]</em><a href="http://chongqing.shangpusou.com/xiezilouchuzu/f6703995.html" class="hei" target="_blank">红旗河沟龙湖新壹街使用面积约**平米中商铺出租</a></p>
                            <p>面积：<em>66</em>㎡</p>
                            <p>电话：15998926178</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703992.html" target="_blank"><img alt="芙蓉区超值  办公室 真实地址 可注册 **工商财税 无杂费" title="芙蓉区超值  办公室 真实地址 可注册 **工商财税 无杂费" src="/picture/pre_1638164804tpxzx.jpeg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://changsha.shangpusou.com/" title="长沙写字楼出租" target="_blank">长沙</a>]</em><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703992.html" class="hei" target="_blank">芙蓉区超值  办公室 真实地址 可注册 **工商财税 </a></p>
                            <p>面积：<em>16</em>㎡</p>
                            <p>电话：18810292439</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703966.html" target="_blank"><img alt="按间出租，每间均可以独立注册 水电物业饮水空调供暖等杂费全免" title="按间出租，每间均可以独立注册 水电物业饮水空调供暖等杂费全免" src="/picture/pre_1637917639e28ip.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://changsha.shangpusou.com/" title="长沙写字楼出租" target="_blank">长沙</a>]</em><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703966.html" class="hei" target="_blank">按间出租，每间均可以独立注册 水电物业饮水空调供</a></p>
                            <p>面积：<em>12</em>㎡</p>
                            <p>电话：18810292439</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://shanghai.shangpusou.com/xiezilouchuzu/f6703959.html" target="_blank"><img alt="出租闵行七宝纯写字楼" title="出租闵行七宝纯写字楼" src="/picture/pre_1637890568mvozy.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://shanghai.shangpusou.com/" title="上海写字楼出租" target="_blank">上海</a>]</em><a href="http://shanghai.shangpusou.com/xiezilouchuzu/f6703959.html" class="hei" target="_blank">出租闵行七宝纯写字楼</a></p>
                            <p>面积：<em>339</em>㎡</p>
                            <p>电话：18516349834</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703954.html" target="_blank"><img alt="出租岳麓含浦办学场地" title="出租岳麓含浦办学场地" src="/picture/pre_16378305979cbla.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://changsha.shangpusou.com/" title="长沙写字楼出租" target="_blank">长沙</a>]</em><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703954.html" class="hei" target="_blank">出租岳麓含浦办学场地</a></p>
                            <p>面积：<em>20000</em>㎡</p>
                            <p>电话：19330851723</p>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703935.html" target="_blank"><img alt="精装独立写字间 卡位直租可设立执照批税控银行开户不限行业" title="精装独立写字间 卡位直租可设立执照批税控银行开户不限行业" src="/picture/pre_16377191513qe2k.jpg"></a></dt>
                        <dd>
                            <p class="f14"><em>[<a href="http://changsha.shangpusou.com/" title="长沙写字楼出租" target="_blank">长沙</a>]</em><a href="http://changsha.shangpusou.com/xiezilouchuzu/f6703935.html" class="hei" target="_blank">精装独立写字间 卡位直租可设立执照批税控银行开</a></p>
                            <p>面积：<em>12</em>㎡</p>
                            <p>电话：18810292439</p>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
        <div class="allindex_r">
            <div class="allindex_r_div">
                <div class="index_title">
                    <h2><a href="http://www.shangpusou.com/xiezilouchushou/" target="_blank" title="更多最新写字楼出售信息">写字楼出售</a></h2>
                </div>
                <ul>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京写字楼出售" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/xiezilouchushou/f6704092.html" title="三面采光，中间楼层。户型方正。" target="_blank">三面采光，中间楼层。户型方正。</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京写字楼出售" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/xiezilouchushou/f6704070.html" title="主语国际中心整层写字楼出售，地铁6号、9号线白石桥站上盖" target="_blank">主语国际中心整层写字楼出售，地铁6号、9号线</a></li>
                    <li><em>[<a href="http://hangzhou.shangpusou.com/" title="杭州写字楼出售" target="_blank">杭州</a>]</em><a href="http://hangzhou.shangpusou.com/xiezilouchushou/f6703948.html" title="出售下沙一线江景酒店" target="_blank">出售下沙一线江景酒店</a></li>
                    <li><em>[<a href="http://guangzhou.shangpusou.com/" title="广州写字楼出售" target="_blank">广州</a>]</em><a href="http://guangzhou.shangpusou.com/xiezilouchushou/f6703846.html" title="广州安华汇南塔公寓商住两用40年使用权" target="_blank">广州安华汇南塔公寓商住两用40年使用权</a></li>
                    <li><em>[<a href="http://tianjin.shangpusou.com/" title="天津写字楼出售" target="_blank">天津</a>]</em><a href="http://tianjin.shangpusou.com/xiezilouchushou/f6703746.html" title="70年商铺 80-800平米 可分多个开间 出售宝坻社区底商" target="_blank">70年商铺 80-800平米 可分多个开间 出售宝</a></li>
                    <li><em>[<a href="http://qingdao.shangpusou.com/" title="青岛写字楼出售" target="_blank">青岛</a>]</em><a href="http://qingdao.shangpusou.com/xiezilouchushou/f6703660.html" title="出售黄岛保税区新天地大厦办公室127平95万元(可注册公司）" target="_blank">出售黄岛保税区新天地大厦办公室127平95万</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京写字楼出售" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/xiezilouchushou/f6703473.html" title="世茂工三，自持办公室出售。" target="_blank">世茂工三，自持办公室出售。</a></li>
                    <li><em>[<a href="http://yancheng.shangpusou.com/" title="盐城写字楼出售" target="_blank">盐城</a>]</em><a href="http://yancheng.shangpusou.com/xiezilouchushou/f6703352.html" title="位于老马沟街盐都西区研创大厦7楼办公房出售" target="_blank">位于老马沟街盐都西区研创大厦7楼办公房出</a></li>
                    <li><em>[<a href="http://changchun.shangpusou.com/" title="长春写字楼出售" target="_blank">长春</a>]</em><a href="http://changchun.shangpusou.com/xiezilouchushou/f6703349.html" title="长春宽城中东港小户型出售" target="_blank">长春宽城中东港小户型出售</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="h20"></div>
    <div class="con w1280">
        <div class="allindex_m">
            <div class="allindex_m_div">
                <div class="index_title">
                    <h2><a href="http://www.shangpusou.com/cangku/" target="_blank" title="更多最新仓库信息">仓库信息</a></h2>
                </div>
                <ul>
                    <li><em>[<a href="http://xuchang.shangpusou.com/" title="许昌仓库" target="_blank">许昌</a>]</em><a href="http://xuchang.shangpusou.com/changfangzhuanrang/f6704176.html" title="木门厂转让  环评烤漆房 手续齐全" target="_blank">木门厂转让  环评烤漆房 手续齐全</a></li>
                    <li><em>[<a href="http://xinyang.shangpusou.com/" title="信阳仓库" target="_blank">信阳</a>]</em><a href="http://xinyang.shangpusou.com/changfangchuzu/f6704114.html" title="对外出租厂房场地" target="_blank">对外出租厂房场地</a></li>
                    <li><em>[<a href="http://guangzhou.shangpusou.com/" title="广州仓库" target="_blank">广州</a>]</em><a href="http://guangzhou.shangpusou.com/changfangzhuanrang/f6704112.html" title="工厂转让" target="_blank">工厂转让</a></li>
                    <li><em>[<a href="http://dongguan.shangpusou.com/" title="东莞仓库" target="_blank">东莞</a>]</em><a href="http://dongguan.shangpusou.com/changfangzhuanrang/f6704010.html" title="东莞鞋厂转让" target="_blank">东莞鞋厂转让</a></li>
                    <li><em>[<a href="http://yantai.shangpusou.com/" title="烟台仓库" target="_blank">烟台</a>]</em><a href="http://yantai.shangpusou.com/changfangchuzu/f6704008.html" title="龙口威龙大道附近厂房出租" target="_blank">龙口威龙大道附近厂房出租</a></li>
                    <li><em>[<a href="http://qiandongnan.shangpusou.com/" title="黔东南仓库" target="_blank">黔东南</a>]</em><a href="http://qiandongnan.shangpusou.com/changfangchuzu/f6704003.html" title="出租出售贵州大型矿石破碎厂" target="_blank">出租出售贵州大型矿石破碎厂</a></li>
                    <li><em>[<a href="http://chuzhou.shangpusou.com/" title="滁州仓库" target="_blank">滁州</a>]</em><a href="http://chuzhou.shangpusou.com/changfangchushou/f6703990.html" title="滁州复创国际产业园低价出售，详情电话咨询" target="_blank">滁州复创国际产业园低价出售，详情电话咨询</a></li>
                    <li><em>[<a href="http://linyi.shangpusou.com/" title="临沂仓库" target="_blank">临沂</a>]</em><a href="http://linyi.shangpusou.com/changfangchushou/f6703988.html" title="出售临沂50年产权厂房，共两层，首层8.1米 低首付 可**" target="_blank">出售临沂50年产权厂房，共两层，首层8.1米 低首</a></li>
                    <li><em>[<a href="http://wuxi.shangpusou.com/" title="无锡仓库" target="_blank">无锡</a>]</em><a href="http://wuxi.shangpusou.com/changfangchuzu/f6703971.html" title="独门独院钢结构厂房25700平整体出租" target="_blank">独门独院钢结构厂房25700平整体出租</a></li>
                </ul>
            </div>
        </div>
        <div class="allindex_m">
            <div class="allindex_m_div">
                <div class="index_title">
                    <h2><a href="http://www.shangpusou.com/changfang/" target="_blank" title="更多最新厂房信息">厂房信息</a></h2>
                </div>
                <ul>
                    <li><em>[<a href="http://hefei.shangpusou.com/" title="合肥厂房" target="_blank">合肥</a>]</em><a href="http://hefei.shangpusou.com/cangkuchuzu/f6704209.html" title="合肥公路港综合物流基地零担1#仓库对外招租" target="_blank">合肥公路港综合物流基地零担1#仓库对外招租</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京厂房" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/cangkuchuzu/f6703945.html" title="公司直租，大小都有，价格便宜" target="_blank">公司直租，大小都有，价格便宜</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京厂房" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/cangkuchuzu/f6703938.html" title="专业仓储  一立方自助仓  环境好 不潮湿" target="_blank">专业仓储  一立方自助仓  环境好 不潮湿</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京厂房" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/cangkuchuzu/f6703925.html" title="正规仓库出租24小时监控随时存取可开**" target="_blank">正规仓库出租24小时监控随时存取可开**</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京厂房" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/cangkuchuzu/f6703807.html" title="朝阳区金盏乡东窑村库房出租" target="_blank">朝阳区金盏乡东窑村库房出租</a></li>
                    <li><em>[<a href="http://beijing.shangpusou.com/" title="北京厂房" target="_blank">北京</a>]</em><a href="http://beijing.shangpusou.com/cangkuchuzu/f6703748.html" title="图书托管第三方物流" target="_blank">图书托管第三方物流</a></li>
                    <li><em>[<a href="http://wuxi.shangpusou.com/" title="无锡厂房" target="_blank">无锡</a>]</em><a href="http://wuxi.shangpusou.com/cangkuchuzu/f6703708.html" title="洋溪人家仓库车库出租 300元" target="_blank">洋溪人家仓库车库出租 300元</a></li>
                    <li><em>[<a href="http://jinan.shangpusou.com/" title="济南厂房" target="_blank">济南</a>]</em><a href="http://jinan.shangpusou.com/cangkuchuzu/f6703665.html" title="七里堡小平房出租" target="_blank">七里堡小平房出租</a></li>
                    <li><em>[<a href="http://nanjing.shangpusou.com/" title="南京厂房" target="_blank">南京</a>]</em><a href="http://nanjing.shangpusou.com/cangkuchuzu/f6703465.html" title="出租南京江宁冷冻库" target="_blank">出租南京江宁冷冻库</a></li>
                </ul>
            </div>
        </div>
        <div class="allindex_m_r">
            <div class="allindex_m_div">
                <div class="index_title">
                    <h2><a href="http://www.shangpusou.com/qiuzuqiugou/" target="_blank" title="更多最新找铺信息">找铺信息</a></h2>
                </div>
                <ul>
                    <li><em>[<a href="http://shijiazhuang.shangpusou.com/" title="石家庄商铺" target="_blank">石家庄</a>]</em><a href="http://shijiazhuang.shangpusou.com/qiuzuqiugou/f6704046.html" title="找幼儿园" target="_blank">找幼儿园</a></li>
                    <li><em>[<a href="http://chengdu.shangpusou.com/" title="成都商铺" target="_blank">成都</a>]</em><a href="http://chengdu.shangpusou.com/qiuzuqiugou/f6703994.html" title="寻找成都封闭学校场地" target="_blank">寻找成都封闭学校场地</a></li>
                    <li><em>[<a href="http://chengdu.shangpusou.com/" title="成都商铺" target="_blank">成都</a>]</em><a href="http://chengdu.shangpusou.com/qiuzuqiugou/f6703986.html" title="彩票店转让" target="_blank">彩票店转让</a></li>
                    <li><em>[<a href="http://shenyang.shangpusou.com/" title="沈阳商铺" target="_blank">沈阳</a>]</em><a href="http://shenyang.shangpusou.com/qiuzuqiugou/f6703910.html" title="内科诊所" target="_blank">内科诊所</a></li>
                    <li><em>[<a href="http://hefei.shangpusou.com/" title="合肥商铺" target="_blank">合肥</a>]</em><a href="http://hefei.shangpusou.com/qiuzuqiugou/f6703756.html" title="寻庐阳区小门面" target="_blank">寻庐阳区小门面</a></li>
                    <li><em>[<a href="http://shenzhen.shangpusou.com/" title="深圳商铺" target="_blank">深圳</a>]</em><a href="http://shenzhen.shangpusou.com/qiuzuqiugou/f6703588.html" title="清货公司" target="_blank">清货公司</a></li>
                    <li><em>[<a href="http://luoyang.shangpusou.com/" title="洛阳商铺" target="_blank">洛阳</a>]</em><a href="http://luoyang.shangpusou.com/xundianzhaopu/f6703486.html" title="找美容院转让" target="_blank">找美容院转让</a></li>
                    <li><em>[<a href="http://guangzhou.shangpusou.com/" title="广州商铺" target="_blank">广州</a>]</em><a href="http://guangzhou.shangpusou.com/xundianzhaopu/f6703468.html" title="猪肉铺" target="_blank">猪肉铺</a></li>
                    <li><em>[<a href="http://wuhan.shangpusou.com/" title="武汉商铺" target="_blank">武汉</a>]</em><a href="http://wuhan.shangpusou.com/xundianzhaopu/f6703388.html" title="武汉汉阳区  想开一家鲜奶店" target="_blank">武汉汉阳区  想开一家鲜奶店</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="h20"></div>
    <div class="con w1280">
        <div class="allcity">
            <div class="index_title">
                <h2>各地分站</h2>
            </div>
            <div class="tab allindexcity">
                <ul class="title" id="nav">
                    <li class="li_a_links on"><a href="javascript:;">华中区</a></li>
                    <li class="li_a_links "><a href="javascript:;">西北区</a></li>
                    <li class="li_a_links "><a href="javascript:;">华东区</a></li>
                    <li class="li_a_links "><a href="javascript:;">华南区</a></li>
                    <li class="li_a_links "><a href="javascript:;">西南区</a></li>
                    <li class="li_a_links "><a href="javascript:;">华北区</a></li>
                    <li class="li_a_links "><a href="javascript:;">东北区</a></li>

                </ul>
                <div class="tab_con" id="menu_con">
                    <div class="icontent active">
                        <a title="郑州商铺" href="http://zhengzhou.shangpusou.com">郑州商铺</a>
                        <a title="焦作商铺" href="http://jiaozuo.shangpusou.com">焦作商铺</a>
                        <a title="洛阳商铺" href="http://luoyang.shangpusou.com">洛阳商铺</a>
                        <a title="信阳商铺" href="http://xinyang.shangpusou.com">信阳商铺</a>
                        <a title="驻马店商铺" href="http://zhumadian.shangpusou.com">驻马店商铺</a>
                        <a title="新乡商铺" href="http://xinxiang.shangpusou.com">新乡商铺</a>
                        <a title="安阳商铺" href="http://anyang.shangpusou.com">安阳商铺</a>
                        <a title="濮阳商铺" href="http://puyang.shangpusou.com">濮阳商铺</a>
                        <a title="许昌商铺" href="http://xuchang.shangpusou.com">许昌商铺</a>
                        <a title="漯河商铺" href="http://luohe.shangpusou.com">漯河商铺</a>
                        <a title="南阳商铺" href="http://nanyang.shangpusou.com">南阳商铺</a>
                        <a title="商丘商铺" href="http://shangqiu.shangpusou.com">商丘商铺</a>
                        <a title="平顶山商铺" href="http://pingdingshan.shangpusou.com">平顶山商铺</a>
                        <a title="周口商铺" href="http://zhoukou.shangpusou.com">周口商铺</a>
                        <a title="开封商铺" href="http://kaifeng.shangpusou.com">开封商铺</a>
                        <a title="武汉商铺" style="color:#e6454a;" href="http://wuhan.shangpusou.com">武汉商铺</a>
                        <a title="黄石商铺" href="http://huangshi.shangpusou.com">黄石商铺</a>
                        <a title="十堰商铺" href="http://shiyan.shangpusou.com">十堰商铺</a>
                        <a title="宜昌商铺" href="http://yichang.shangpusou.com">宜昌商铺</a>
                        <a title="荆州商铺" href="http://jingzhou.shangpusou.com">荆州商铺</a>
                        <a title="黄冈商铺" href="http://huanggang.shangpusou.com">黄冈商铺</a>
                        <a title="恩施商铺" href="http://enshi.shangpusou.com">恩施商铺</a>
                        <a title="长沙商铺" href="http://changsha.shangpusou.com">长沙商铺</a>
                        <a title="株洲商铺" href="http://zhuzhou.shangpusou.com">株洲商铺</a>
                        <a title="湘潭商铺" href="http://xiangtan.shangpusou.com">湘潭商铺</a>
                        <a title="衡阳商铺" href="http://hengyang.shangpusou.com">衡阳商铺</a>
                        <a title="岳阳商铺" href="http://yueyang.shangpusou.com">岳阳商铺</a>
                        <a title="常德商铺" href="http://changde.shangpusou.com">常德商铺</a>
                        <a title="益阳商铺" href="http://yiyang.shangpusou.com">益阳商铺</a>
                        <a title="郴州商铺" href="http://chenzhou.shangpusou.com">郴州商铺</a>
                        <a title="怀化商铺" href="http://huaihua.shangpusou.com">怀化商铺</a>
                        <a title="娄底商铺" href="http://loudi.shangpusou.com">娄底商铺</a>
                        <a title="南昌商铺" href="http://nanchang.shangpusou.com">南昌商铺</a>
                        <a title="九江商铺" href="http://jiujiang.shangpusou.com">九江商铺</a>
                        <a title="赣州商铺" href="http://ganzhou.shangpusou.com">赣州商铺</a>
                        <a title="萍乡商铺" href="http://pingxiang.shangpusou.com">萍乡商铺</a>
                        <a title="吉安商铺" href="http://jian.shangpusou.com">吉安商铺</a>
                        <a title="宜春商铺" href="http://yc.shangpusou.com">宜春商铺</a>
                        <a title="抚州商铺" href="http://fz.shangpusou.com">抚州商铺</a>
                        <a title="上饶商铺" href="http://shangrao.shangpusou.com">上饶商铺</a>
                        <a title="孝感商铺" href="http://xiaogan.shangpusou.com">孝感商铺</a>
                        <a title="邵阳商铺" href="http://shaoyang.shangpusou.com">邵阳商铺</a>
                        <a title="张家界商铺" href="http://zhangjiajie.shangpusou.com">张家界商铺</a>
                        <a title="永州商铺" href="http://yongzhou.shangpusou.com">永州商铺</a>
                    </div>
                    <div class="icontent">
                        <a href="http://lanzhou.shangpusou.com" style="" title="兰州商铺">兰州商铺</a>
                        <a href="http://yinchuan.shangpusou.com" style="" title="银川商铺">银川商铺</a>
                        <a href="http://xining.shangpusou.com" style="" title="西宁商铺">西宁商铺</a>
                        <a href="http://xian.shangpusou.com" style="color:#e6454a;" title="西安商铺">西安商铺</a>
                        <a href="http://baoji.shangpusou.com" style="" title="宝鸡商铺">宝鸡商铺</a>
                        <a href="http://xianyang.shangpusou.com" style="" title="咸阳商铺">咸阳商铺</a>
                        <a href="http://wulumuqi.shangpusou.com" style="" title="乌鲁木齐商铺">乌鲁木齐商铺</a>
                        <a href="http://weinan.shangpusou.com" style="" title="渭南商铺">渭南商铺</a>
                        <a href="http://yl.shangpusou.com" style="" title="榆林商铺">榆林商铺</a>
                        <a href="http://tianshui.shangpusou.com" style="" title="天水商铺">天水商铺</a>
                        <a href="http://bayinguoleng.shangpusou.com" style="" title="巴音郭楞商铺">巴音郭楞商铺</a>
                    </div>
                    <div class="icontent">
                        <a title="上海商铺" style="color:#e6454a;" href="http://shanghai.shangpusou.com">上海商铺</a>
                        <a title="杭州商铺" style="color:#e6454a;" href="http://hangzhou.shangpusou.com">杭州商铺</a>
                        <a title="嘉兴商铺" href="http://jiaxing.shangpusou.com">嘉兴商铺</a>
                        <a title="宁波商铺" href="http://ningbo.shangpusou.com">宁波商铺</a>
                        <a title="绍兴商铺" href="http://shaoxing.shangpusou.com">绍兴商铺</a>
                        <a title="金华商铺" href="http://jinhua.shangpusou.com">金华商铺</a>
                        <a title="台州商铺" href="http://taizhou.shangpusou.com">台州商铺</a>
                        <a title="温州商铺" href="http://wenzhou.shangpusou.com">温州商铺</a>
                        <a title="合肥商铺" href="http://hefei.shangpusou.com">合肥商铺</a>
                        <a title="芜湖商铺" href="http://wuhu.shangpusou.com">芜湖商铺</a>
                        <a title="蚌埠商铺" href="http://bengbu.shangpusou.com">蚌埠商铺</a>
                        <a title="马鞍山商铺" href="http://maanshan.shangpusou.com">马鞍山商铺</a>
                        <a title="阜阳商铺" href="http://fuyang.shangpusou.com">阜阳商铺</a>
                        <a title="六安商铺" href="http://liuan.shangpusou.com">六安商铺</a>
                        <a title="南京商铺" style="color:#e6454a;" href="http://nanjing.shangpusou.com">南京商铺</a>
                        <a title="无锡商铺" href="http://wuxi.shangpusou.com">无锡商铺</a>
                        <a title="徐州商铺" href="http://xuzhou.shangpusou.com">徐州商铺</a>
                        <a title="常州商铺" href="http://changzhou.shangpusou.com">常州商铺</a>
                        <a title="扬州商铺" href="http://yangzhou.shangpusou.com">扬州商铺</a>
                        <a title="南通商铺" href="http://nantong.shangpusou.com">南通商铺</a>
                        <a title="连云港商铺" href="http://lianyungang.shangpusou.com">连云港商铺</a>
                        <a title="淮安商铺" href="http://huaian.shangpusou.com">淮安商铺</a>
                        <a title="盐城商铺" href="http://yancheng.shangpusou.com">盐城商铺</a>
                        <a title="苏州商铺" href="http://suzhou.shangpusou.com">苏州商铺</a>
                        <a title="宿迁商铺" href="http://suqian.shangpusou.com">宿迁商铺</a>
                        <a title="济南商铺" href="http://jinan.shangpusou.com">济南商铺</a>
                        <a title="济宁商铺" href="http://jining.shangpusou.com">济宁商铺</a>
                        <a title="淄博商铺" href="http://zibo.shangpusou.com">淄博商铺</a>
                        <a title="枣庄商铺" href="http://zaozhuang.shangpusou.com">枣庄商铺</a>
                        <a title="东营商铺" href="http://dongying.shangpusou.com">东营商铺</a>
                        <a title="烟台商铺" href="http://yantai.shangpusou.com">烟台商铺</a>
                        <a title="潍坊商铺" href="http://weifang.shangpusou.com">潍坊商铺</a>
                        <a title="威海商铺" href="http://weihai.shangpusou.com">威海商铺</a>
                        <a title="青岛商铺" href="http://qingdao.shangpusou.com">青岛商铺</a>
                        <a title="泰安商铺" href="http://taian.shangpusou.com">泰安商铺</a>
                        <a title="日照商铺" href="http://rizhao.shangpusou.com">日照商铺</a>
                        <a title="临沂商铺" href="http://linyi.shangpusou.com">临沂商铺</a>
                        <a title="德州商铺" href="http://dezhou.shangpusou.com">德州商铺</a>
                        <a title="聊城商铺" href="http://liaocheng.shangpusou.com">聊城商铺</a>
                        <a title="滨州商铺" href="http://binzhou.shangpusou.com">滨州商铺</a>
                        <a title="菏泽商铺" href="http://heze.shangpusou.com">菏泽商铺</a>
                        <a title="镇江商铺" href="http://zhenjiang.shangpusou.com">镇江商铺</a>
                        <a title="泰州商铺" href="http://tz.shangpusou.com">泰州商铺</a>
                        <a title="衢州商铺" href="http://quzhou.shangpusou.com">衢州商铺</a>
                        <a title="舟山商铺" href="http://zhoushan.shangpusou.com">舟山商铺</a>
                        <a title="丽水商铺" href="http://lishui.shangpusou.com">丽水商铺</a>
                        <a title="淮北商铺" href="http://huaibei.shangpusou.com">淮北商铺</a>
                        <a title="滁州商铺" href="http://chuzhou.shangpusou.com">滁州商铺</a>
                        <a title="宿州商铺" href="http://sz.shangpusou.com">宿州商铺</a>
                        <a title="亳州商铺" href="http://bozhou.shangpusou.com">亳州商铺</a>
                        <a title="池州商铺" href="http://chizhou.shangpusou.com">池州商铺</a>
                        <a title="莱芜商铺" href="http://laiwu.shangpusou.com">莱芜商铺</a>
                    </div>
                    <div class="icontent">
                        <a title="广州商铺" style="color:#e6454a;" href="http://guangzhou.shangpusou.com">广州商铺</a>
                        <a title="深圳商铺" style="color:#e6454a;" href="http://shenzhen.shangpusou.com">深圳商铺</a>
                        <a title="珠海商铺" href="http://zhuhai.shangpusou.com">珠海商铺</a>
                        <a title="佛山商铺" href="http://foshan.shangpusou.com">佛山商铺</a>
                        <a title="江门商铺" href="http://jiangmen.shangpusou.com">江门商铺</a>
                        <a title="湛江商铺" href="http://zhanjiang.shangpusou.com">湛江商铺</a>
                        <a title="惠州商铺" href="http://huizhou.shangpusou.com">惠州商铺</a>
                        <a title="东莞商铺" href="http://dongguan.shangpusou.com">东莞商铺</a>
                        <a title="中山商铺" href="http://zhongshan.shangpusou.com">中山商铺</a>
                        <a title="福州商铺" href="http://fuzhou.shangpusou.com">福州商铺</a>
                        <a title="厦门商铺" href="http://xiamen.shangpusou.com">厦门商铺</a>
                        <a title="泉州商铺" href="http://quanzhou.shangpusou.com">泉州商铺</a>
                        <a title="南宁商铺" href="http://nanning.shangpusou.com">南宁商铺</a>
                        <a title="柳州商铺" href="http://liuzhou.shangpusou.com">柳州商铺</a>
                        <a title="桂林商铺" href="http://guilin.shangpusou.com">桂林商铺</a>
                        <a title="海口商铺" href="http://haikou.shangpusou.com">海口商铺</a>
                        <a title="漳州商铺" href="http://zhangzhou.shangpusou.com">漳州商铺</a>
                        <a title="韶关商铺" href="http://shaoguan.shangpusou.com">韶关商铺</a>
                        <a title="汕头商铺" href="http://shantou.shangpusou.com">汕头商铺</a>
                        <a title="茂名商铺" href="http://maoming.shangpusou.com">茂名商铺</a>
                        <a title="肇庆商铺" href="http://zhaoqing.shangpusou.com">肇庆商铺</a>
                        <a title="河源商铺" href="http://heyuan.shangpusou.com">河源商铺</a>
                        <a title="阳江商铺" href="http://yangjiang.shangpusou.com">阳江商铺</a>
                        <a title="清远商铺" href="http://qingyuan.shangpusou.com">清远商铺</a>
                        <a title="北海商铺" href="http://beihai.shangpusou.com">北海商铺</a>
                        <a title="贵港商铺" href="http://guigang.shangpusou.com">贵港商铺</a>
                        <a title="玉林商铺" href="http://yulin.shangpusou.com">玉林商铺</a>
                        <a title="来宾商铺" href="http://laibin.shangpusou.com">来宾商铺</a>
                        <a title="三亚商铺" href="http://sanya.shangpusou.com">三亚商铺</a>
                        <a title="三沙商铺" href="http://sansha.shangpusou.com">三沙商铺</a>
                    </div>
                    <div class="icontent">
                        <a title="成都商铺" style="color:#e6454a;" href="http://chengdu.shangpusou.com">成都商铺</a>
                        <a title="泸州商铺" href="http://luzhou.shangpusou.com">泸州商铺</a>
                        <a title="绵阳商铺" href="http://mianyang.shangpusou.com">绵阳商铺</a>
                        <a title="德阳商铺" href="http://deyang.shangpusou.com">德阳商铺</a>
                        <a title="南充商铺" href="http://nanchong.shangpusou.com">南充商铺</a>
                        <a title="遂宁商铺" href="http://suining.shangpusou.com">遂宁商铺</a>
                        <a title="自贡商铺" href="http://zigong.shangpusou.com">自贡商铺</a>
                        <a title="宜宾商铺" href="http://yibin.shangpusou.com">宜宾商铺</a>
                        <a title="昆明商铺" href="http://kunming.shangpusou.com">昆明商铺</a>
                        <a title="广元商铺" href="http://guangyuan.shangpusou.com">广元商铺</a>
                        <a title="内江商铺" href="http://neijiang.shangpusou.com">内江商铺</a>
                        <a title="乐山商铺" href="http://leshan.shangpusou.com">乐山商铺</a>
                        <a title="眉山商铺" href="http://meishan.shangpusou.com">眉山商铺</a>
                        <a title="达州商铺" href="http://dazhou.shangpusou.com">达州商铺</a>
                        <a title="巴中商铺" href="http://bazhong.shangpusou.com">巴中商铺</a>
                        <a title="凉山商铺" href="http://liangshan.shangpusou.com">凉山商铺</a>
                        <a title="六盘水商铺" href="http://liupanshui.shangpusou.com">六盘水商铺</a>
                        <a title="安顺商铺" href="http://anshun.shangpusou.com">安顺商铺</a>
                        <a title="铜仁商铺" href="http://tongren.shangpusou.com">铜仁商铺</a>
                        <a title="黔西南商铺" href="http://qianxinan.shangpusou.com">黔西南商铺</a>
                        <a title="毕节商铺" href="http://bijie.shangpusou.com">毕节商铺</a>
                        <a title="黔东南商铺" href="http://qiandongnan.shangpusou.com">黔东南商铺</a>
                        <a title="昭通商铺" href="http://zhaotong.shangpusou.com">昭通商铺</a>
                        <a title="丽江商铺" href="http://lijiang.shangpusou.com">丽江商铺</a>
                        <a title="红河商铺" href="http://honghe.shangpusou.com">红河商铺</a>
                        <a title="大理商铺" href="http://dali.shangpusou.com">大理商铺</a>
                    </div>
                    <div class="icontent">
                        <a title="北京商铺" style="color:#e6454a;" href="http://beijing.shangpusou.com">北京商铺</a>
                        <a title="天津商铺" href="http://tianjin.shangpusou.com">天津商铺</a>
                        <a title="石家庄商铺" href="http://shijiazhuang.shangpusou.com">石家庄商铺</a>
                        <a title="沧州商铺" href="http://cangzhou.shangpusou.com">沧州商铺</a>
                        <a title="邯郸商铺" href="http://handan.shangpusou.com">邯郸商铺</a>
                        <a title="邢台商铺" href="http://xingtai.shangpusou.com">邢台商铺</a>
                        <a title="保定商铺" href="http://baoding.shangpusou.com">保定商铺</a>
                        <a title="张家口商铺" href="http://zhangjiakou.shangpusou.com">张家口商铺</a>
                        <a title="唐山商铺" href="http://tangshan.shangpusou.com">唐山商铺</a>
                        <a title="廊坊商铺" href="http://langfang.shangpusou.com">廊坊商铺</a>
                        <a title="衡水商铺" href="http://hengshui.shangpusou.com">衡水商铺</a>
                        <a title="秦皇岛商铺" href="http://qinhuangdao.shangpusou.com">秦皇岛商铺</a>
                        <a title="呼和浩特商铺" href="http://huhehaote.shangpusou.com">呼和浩特商铺</a>
                        <a title="包头商铺" href="http://baotou.shangpusou.com">包头商铺</a>
                        <a title="赤峰商铺" href="http://chifeng.shangpusou.com">赤峰商铺</a>
                        <a title="鄂尔多斯商铺" href="http://eerduosi.shangpusou.com">鄂尔多斯商铺</a>
                        <a title="太原商铺" href="http://taiyuan.shangpusou.com">太原商铺</a>
                        <a title="大同商铺" href="http://datong.shangpusou.com">大同商铺</a>
                        <a title="晋中商铺" href="http://jinzhong.shangpusou.com">晋中商铺</a>
                        <a title="临汾商铺" href="http://linfen.shangpusou.com">临汾商铺</a>
                        <a title="承德商铺" href="http://chengde.shangpusou.com">承德商铺</a>
                        <a title="晋城商铺" href="http://jincheng.shangpusou.com">晋城商铺</a>
                        <a title="巴彦淖尔市商铺" href="http://bayannaoer.shangpusou.com">巴彦淖尔市商铺</a>
                    </div>
                    <div class="icontent">
                        <a title="哈尔滨商铺" href="http://haerbin.shangpusou.com">哈尔滨商铺</a>
                        <a title="齐齐哈尔商铺" href="http://qiqihaer.shangpusou.com">齐齐哈尔商铺</a>
                        <a title="大庆商铺" href="http://daqing.shangpusou.com">大庆商铺</a>
                        <a title="牡丹江商铺" href="http://mudanjiang.shangpusou.com">牡丹江商铺</a>
                        <a title="长春商铺" href="http://changchun.shangpusou.com">长春商铺</a>
                        <a title="吉林商铺" href="http://jilin.shangpusou.com">吉林商铺</a>
                        <a title="沈阳商铺" href="http://shenyang.shangpusou.com">沈阳商铺</a>
                        <a title="大连商铺" href="http://dalian.shangpusou.com">大连商铺</a>
                        <a title="抚顺商铺" href="http://fushun.shangpusou.com">抚顺商铺</a>
                        <a title="锦州商铺" href="http://jinzhou.shangpusou.com">锦州商铺</a>
                        <a title="本溪商铺" href="http://benxi.shangpusou.com">本溪商铺</a>
                        <a title="丹东商铺" href="http://dandong.shangpusou.com">丹东商铺</a>
                        <a title="营口商铺" href="http://yingkou.shangpusou.com">营口商铺</a>
                        <a title="葫芦岛商铺" href="http://huludao.shangpusou.com">葫芦岛商铺</a>
                        <a title="松原商铺" href="http://songyuan.shangpusou.com">松原商铺</a>
                        <a title="绥化商铺" href="http://suihua.shangpusou.com">绥化商铺</a>
                    </div> 
                </div>
            </div>

            <div class="clear"></div>
            <div class="allcity_index_links">
                <div class="index_title">
                    <h2>友情链接</h2>
                </div>
                <ul>
                    <li><a href="http://wlmq.focus.cn/" target="_blank" title="乌市房产">乌市房产</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="h20"></div><div id="ad_footerbanner"></div>
    <div style="display: none" id="ad_none">
    </div>


    <div class="footer">
        <div class="footer_common">
            <div class="footer_common_link">
                <a href="http://www.shangpusou.com/aboutus.html" rel="nofollow" target="_blank">网站简介</a>
                <a href="http://www.shangpusou.com/aboutus-id-2.html" rel="nofollow" target="_blank">广告服务</a>
                <a href="http://www.shangpusou.com/aboutus-id-3.html" rel="nofollow" target="_blank">联系我们</a>
                <a href="http://www.shangpusou.com/faq.html" rel="nofollow" target="_blank">网站帮助</a>
                <a href="http://www.shangpusou.com/friendlink.html" rel="nofollow" target="_blank">友情链接</a>
                <a href="http://www.shangpusou.com/announce.html" rel="nofollow" target="_blank">网站公告</a>
                <a href="http://www.shangpusou.com/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
            </div>
            <div class="footer_common_con">
                <p>
                    Copyright &copy; 商铺搜版权所有. 本站所有信息均归商铺搜网用户所发，严禁转载。 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">湘ICP备2021013894号</a>
                    <script>
                        var _hmt = _hmt || [];
                        (function () {
                            var hm = document.createElement("script");
                            hm.src = "https://hm.baidu.com/hm.js?27390b4003f337546042d1a4ea519aff";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                    </script> This page is cached at 2022-02-14 12:52:24
                </p>
            </div>
        </div>
    </div>


    <script type="text/javascript">loadDefault(["addiv", 'shangpusou', "mayilogin"]);</script>
</body>
</html>