<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>黑暗之魂3破解版下载_黑暗之魂3PC中文破解版 - 9尾游戏</title>
    <meta name="keywords" content="单机游戏,单机游戏下载,单机游戏下载大全,好玩的单机游戏,单机游戏排行榜">
    <meta name="description" content="9尾单机游戏提供黑暗之魂3单机游戏下载，黑暗之魂3PC中文破解版是一款为玩家整合了艾雷德尔之烬DLC和环城DLC的免费游戏资源，将这款黑暗之魂3破解版下载后玩家将来到一个史诗般的世界面对各种磨难和难关与难缠的敌人。">
    <link rel="canonical" href="https://www.sjyjzx.cn/game/29575.html" />
    <link rel="dns-prefetch" href="//img.9尾danji.com">
    <link rel="miphtml" href="https://sjyjzx.cn/mip/game/29575.html">
    <link rel="stylesheet" href="~/css/webapp.css">
    <script src="~/js/zepto.js,webapp.js,slide.js"></script>
    <script>
        if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            var t = "iphone";
        } else {
            var t = "az";
        }
        var bid = "0";
        var mid = "1";
        var id = "29575";
        var down_status = "1";
        var isdown = "1";
        var ad_url = 0;

    </script>
 
    <script src="~/js/swiper.js"></script>
    <script type="text/javascript" src="~/js/mobile.js"></script>
    <script type="text/javascript" src="~/js/mobile_main.js"></script>
    <script src="~/js/c.js"></script>
</head>

<body class="box" id="down-page">
    <section class="top-fixed" style="height:44px; border-bottom:none;">
        <header class="header">
            <div class="logo"><a href="//sjyjzx.cn">9尾游戏网</a></div>
            <div class="search">
                <form action="//sjyjzx.cn/search.html" method="get" class="flex">
                    <input class="search-input" type="text" name="q" value="" placeholder="请输入搜索关键词" />
                    <input class="search-btn" type="submit" value="搜索" />
                </form>
            </div>
            <a href="javascript:void(0)" id="classify" class="icon1">A</a>
        </header>
    </section>
    <section class="top-nav">
        <section class="bg"></section>
        <section class="classify">
            <section id="tab-four" class="tab-list">
                <header class="tab-hd hd">
                    <ul>
                        <li class="on">游戏分类</li>
                        <li>文章分类</li>
                    </ul>
                </header>
                <div class="bd">
                    <article>
                        <ul class="mod-three mod-img-list">
                            @{
                                var gameClassList = ViewBag.GameClassList as List<Entity.Models.Jw_AzGameClass>;
                                if (gameClassList != null)
                                {
                                    foreach (var m in gameClassList)
                                    {
                                        <li>
                                            <a href="/game@(m.Code)/">
                                                <img src="picture/img1.jpg" />
                                                <div class="title">@m.Name</div>
                                                <p><i>2619</i>&nbsp;款</p>
                                            </a>
                                        </li>

                                    }
                                }
                            }
                        </ul>
                    </article>

                    <article class="ds-n">
                        <ul class="classify-two mod-four">
                            @{
                                var articleTypeList = ViewBag.ArticleTypeList as List<Entity.Models.Jw_ArticleType>;

                                if (articleTypeList != null)
                                {
                                    foreach (var m in articleTypeList)
                                    {
                                        <li><a href="/@m.Code/">@m.Name</a></li>
                                    }
                                }
                                <li class="first"><a href="/news/">资讯频道</a></li>
                            }
                        </ul>
                    </article>
                </div>
            </section>
        </section>
    </section>
     

    <section class="box-fixed">
        <section class="box-one">
            <header class="crumb">
                <a href="//sjyjzx.cn">首页</a><i>&gt;</i><a href="//sjyjzx.cn/gamelist/1_1.html">动作格斗</a><i>&gt;</i>黑暗之魂3
            </header>
            <section class="box-pd">
                <section class="game-details-hd">
                    <ul class="mod-nine mod-img-list">
                        <li>
                            <img id="img" src="picture/20180628055536312.jpg">
                            <h1 class="title" id="title">黑暗之魂3</h1>
                            <p><span>大小：25GB</span><span class="mg">语言：简体中文</span></p>
                            <p class="text1"><span>官方版</span><span>安全</span><span>无广告</span><span>联网</span></p>
                            <div class="now-down" id="btns">
                                <script src="~/js/down.js"></script>
                            </div>
                            <script>if (tip != '') document.write('<span class="warning-btn">' + tip + '</span>');</script>
                        </li>
                    </ul>
                </section>
                <section class="down-show ds-n" style="display:none;">
                    <div class="body-bg"></div>
                    <div class="down-alert">
                        <div class="alert-title">
                            <script>
                                if (t == 'az') {
                                    if (ad_url == 0) document.write('该软件无安卓版，');
                                } else if (t == 'iphone') {
                                    if (ad_url == 0) document.write('该软件无苹果版，');
                                }
                            </script>
                            大家<span>还喜欢</span>这些：<i>×</i>
                        </div>
                        <ul class="mod-one">
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/com.yunchang.jjzz.bd.apk";
                                    } else {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/com.yunchang.jjzz.bd.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2018/1011/20181011032958564.jpg";
                                    var name = "机动勇士大战安卓版手游";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/shabakechuanshuo.apk";
                                    } else {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/shabakechuanshuo.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2018/0704/20180704023831458.png";
                                    var name = "沙巴克传说游戏安卓版";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/com.droidhang.ad.games63.apk";
                                    } else {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/com.droidhang.ad.games63.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2018/0629/20180629085711190.png";
                                    var name = "布阵英雄游戏安卓版";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/com.xuegao.ftyearsGJ.aligames.apk";
                                    } else {
                                        var downurl = "//apk.9尾danji.com/9尾apk/com.xuegao.ftyearsGJ.aligames.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2018/0202/20180202101442918.jpg";
                                    var name = "大秦帝国风云录手游九游版";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/feiche_v1.8.1.12033.apk";
                                    } else {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/feiche_v1.8.1.12033.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2017/1227/20171227113324798.png";
                                    var name = "QQ飞车安卓版";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/com.youzu.snsgz.mi.apk";
                                    } else {
                                        var downurl = "//apk.9尾danji.com/9尾apk/2018/com.youzu.snsgz.mi.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2017/0116/20170116023226367.jpg";
                                    var name = "少年三国志热血版正式版";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                            <li>
                                <script>
                                    if (t == 'iphone') {
                                        var downurl = "//apk.9尾danji.com/9尾apk/hundouluoguilai_9尾danji.apk";
                                    } else {
                                        var downurl = "http://down.s.qq.com/download/1104338667/apk/10007392_com.tencent.shootgame.apk";
                                    }
                                    var thumb = "//img.9尾danji.com/uploadfile/2016/1124/20161124092351642.jpg";
                                    var name = "魂斗罗归来";
                                    document.write('<a href="' + downurl + '"><img src="' + thumb + '"/><span>' + name + '</span><p class="down">下载</p></a>');
                                </script>
                            </li>
                        </ul>
                        <div id="ny_top_n5">
                            <script>ny_top_n5();</script>
                        </div>
                    </div>
                </section>
                <section class="textct clear mg-t10" id="ny_top_n3">
                    <script>ny_top_n3();</script>
                </section>
                <section class="details-item mg-t10 pos-r">
                    <header class="mod-hd hd-two hd-three">
                        <h2>游戏介绍</h2>
                    </header>
                    <div id="img-one" class="banner mg-t10">
                        <div class="bd">
                            <ul id="details-pic" class="cross-img">
                                <li><span><img src="picture/20180628055735614.jpg" alt="黑暗之魂3截图0" /></span></li>
                                <li><span><img src="picture/20180628055735819.jpg" alt="黑暗之魂3截图1" /></span></li>
                                <li><span><img src="picture/20180628055736211.jpg" alt="黑暗之魂3截图2" /></span></li>
                                <li><span><img src="picture/20180628055736561.jpg" alt="黑暗之魂3截图3" /></span></li>
                                <li><span><img src="picture/20180628055736122.jpg" alt="黑暗之魂3截图4" /></span></li>
                            </ul>
                        </div>
                        <div class="hd ds-n">
                            <ul></ul>
                        </div>
                    </div>
                    <div id="details-ht" class="more-con ht66 zm">
                        <div class="details-bd more-bd" id="details">
                            <p>黑暗之魂3PC中文破解版是一款为玩家整合了艾雷德尔之烬DLC和环城DLC的免费游戏资源，将这款<strong>黑暗之魂3破解版下载</strong>后玩家将来到一个史诗般的世界面对各种磨难和难关与难缠的敌人。游戏内有着高难度的战斗内容和非常硬核的动作元素，喜欢挑战高难度动作游戏的玩家不妨将这款完美整合的<strong>黑暗之魂3PC中文破解版下载</strong>回去体验一番。</p>
                            <p class="title">背景设定</p>
                            <p>在久远之前，世界本是一片混沌，不分天地，只有大树、不朽的古龙和灰色的岩石，一切均笼罩在一片浓雾之中。然而某一天，某棵大树的底下出现了最初的火炉，这样世界上就有了光与暗，然后受到火的吸引，有生物从黑暗之中诞生。</p>
                            <p class="title">购买正版</p>
                            <p><iframe frameborder="0" height="186" src="http://9尾danji.fhyx.hk/api/union_widget/shopid/2781" width="608px"></iframe></p>
                            <p class="title">游戏特色</p>
                            <p>充满挑战性的黑暗魔幻世界</p>
                            <p>快节奏与高难度的硬核动作内容</p>
                            <p>优秀的游戏性</p>
                            <p>史诗般的冒险之旅</p>
                            <p>由宫崎英高本人担任游戏的制作总监</p>
                            <p class="title">游戏视频</p>
                            <p><iframe frameborder="0" height="400" src="http://player.youku.com/embed/XMjcyMTg5MzIyMA==" width="658"></iframe></p>
                            <p class="title">游戏玩法</p>
                            <p>黑暗之魂3破解版游戏中玩家可以通过捏人的方式创建自己所喜爱的角色。游戏中玩家除了职业和装备外，还拥有一些初始属性分别是：生命力、集中力、持久力、体力、力气、敏捷、智力、信仰和运气。每项属性决定了玩家的能力。玩家创建角色后可以进行职业选择，不同的职业拥有不同的初始属性和装备。游戏中有十大职业分别为：骑士、佣兵、战士、传令者、小偷、刺客、魔法师、咒术师、圣职和一无所有者。《黑暗之魂3》中武器种类繁多，主要分为刀剑、斧头、长武器和一些远程武器。每个武器都会归类于这些武器中的一种，同类型武器会使用同一套动作模组，有些情况下，部分招式会不同，BOSS魂炼成的武器则有更加特殊的能力和招式。</p>
                            <p class="title">武器类型</p>
                            <p>
                                剑<br />
                                剑是战士武器储备库里的主要库存，游戏中拥有一些很常见的剑器，如一些直剑、曲剑、刺剑等。它们提供了一个良好的平衡的伤害，范围和速度。
                            </p>
                            <p>
                                刀<br />
                                与剑相似，刀一种用来劈砍的武器。它们的攻击速度很快且灵活。虽然缺乏原始攻击力，高速的攻击频率仍然很有效，背刺攻击伤害也非常高。
                            </p>
                            <p>
                                斧<br />
                                斧与剑不同，比大多数剑慢，而且往往更短的范围，但能够输出高损坏可靠地砍击。
                            </p>
                            <p>
                                长武器<br />
                                主要是长枪、长矛和戟。是有着令人难以置信攻击距离的武器，通常是一些最好的非远程武器的武器。这种能力往往是在一个非常安全的和非灵活的移动设置为代价的。
                            </p>
                            <p>
                                重武器<br />
                                游戏中的一些锤子和大锤是作为重武器存在的，这类武器更倾向于扩展斧子中所发现的缺点，可以有效地对装甲敌人进行打击
                            </p>
                            <p>
                                远程武器<br />
                                分弓和十字弓，这是喜欢放风筝打怪的人最喜欢的武器，弩需要较少的能力值使用，使他们更好的选择非敏捷型特征。
                            </p>
                            <p class="title">同类推荐</p>
                            <p>
                                <div class="details-box">
                                    <ul class="mod-five mod-img-list">
                                        <li>
                                            <a href="//sjyjzx.cn/game/27383.html" class="fl-lf"><img src="picture/20180112090510515.png" /></a>
                                            <h3 class="title"><a href="//sjyjzx.cn/game/27383.html">黑暗之魂:重制版<span class="tj">荐</span></a></h3>
                                            <p>简体中文<em>-</em>6.7GB</p>
                                            <p>赞：<i>6</i><em>-</em>人气：<i>42563</i></p>
                                            <span class="down"><a id="bid" class="" href="//sjyjzx.cn/game/27383.html">下载</a></span>
                                     </li>
                                </ul>    
                              </div>
                        <div class="details-box">
                            <ul class="mod-five mod-img-list">
                                <li>
                                    <a href="//sjyjzx.cn/game/15750.html" class="fl-lf"><img src="picture/20150404101605254.jpg" /></a>
                                    <h3 class="title"><a href="//sjyjzx.cn/game/15750.html">黑暗之魂2：原罪学者<span class="tj">荐</span></a></h3>
                                    <p>简体中文<em>-</em>14.5GB</p>
                                    <p>赞：<i>52</i><em>-</em>人气：<i>42563</i></p>
                                    <span class="down"><a id="bid" class="" href="//sjyjzx.cn/game/15750.html">下载</a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="details-box">
                            <ul class="mod-five mod-img-list">
                                <li>
                                    <a href="//sjyjzx.cn/game/13972.html" class="fl-lf"><img src="picture/20150203053007814.jpg" /></a>
                                    <h3 class="title"><a href="//sjyjzx.cn/game/13972.html">黑暗之魂2(带失落皇冠DLC) <span class="tj">荐</span></a></h3>
                                    <p>繁体中文<em>-</em>9.44GB</p>
                                    <p>赞：<i>35</i><em>-</em>人气：<i>42563</i></p>
                                    <span class="down"><a id="bid" class="" href="//sjyjzx.cn/game/13972.html">下载</a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="details-box">
                            <ul class="mod-five mod-img-list">
                                <li>
                                    <a href="//sjyjzx.cn/game/10169.html" class="fl-lf"><img src="picture/20150918053744190.jpg" /></a>
                                    <h3 class="title"><a href="//sjyjzx.cn/game/10169.html">黑暗之魂 <span class="tj">荐</span></a></h3>
                                    <p>简体中文<em>-</em>3.77GB</p>
                                    <p>赞：<i>95</i><em>-</em>人气：<i>42563</i></p>
                                    <span class="down"><a id="bid" class="" href="//sjyjzx.cn/game/10169.html">下载</a></span>
                                </li>
                            </ul>
                        </div></p>
                        <p class="title">游戏配置</p>
                        <p>操作系统：Windows 7 SP1 64bit, Windows 8.1 64bit Windows 10 64bit</p>
                        <p>CPU：Intel Core i5 2500 3.1 GHz / AMD® A8 3870 3,6 Ghz</p>
                        <p>内存：8 GB RAM</p>
                        <p>显卡：NVIDIA® GeForce GTX 465 / ATI Radeon TM HD 6870</p>
                        <p><a href="//sjyjzx.cn/tool/6580/" target="_blank" class="keylink">DirectX</a>：Version 11</p>
                        <p class="title">安装信息</p>
                        <p>1. 解压缩</p>
                        <p>2. 运行游戏</p>
                        <script>
                            $("p iframe").css("width", "100%");
                            $("p iframe").css("height", "auto");
                        </script>
                    </div>
                    </div>
                    <div class="details-pf mg-t10"></div>
                </section>
                <section class="mg-t10">
                    <header class="mod-hd hd-two hd-three"><h2>精品推荐</h2></header>
                    <div id="top-img" class="top-img mg-t10" style="overflow:hidden;">
                        <script>
                            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                                document.write('<script src="~/js/iostop.js' + Math.ceil(new Date()) + window.Math.random().toFixed(10) + '"><\/script>');
                            } else {
                                document.write('<script src="~/js/aztop.js' + Math.ceil(new Date()) + window.Math.random().toFixed(10) + '"><\/script>');
                            }
                        </script>
                    </div>
                </section>
                <div style="width:100%; overflow:hidden;" id="ny_news_n4">
                    <script>ny_news_n4();</script>
                </div>
            </section>
        </section>
        <section class="box-one">
            <header class="mod-hd hd-two hd-three">
                <h2>热门手游推荐</h2>
            </header>
            <div class="box-pd">
                <ul class="mod-ten">
                    <li>
                        <a href="//sjyjzx.cn/az/41251/">
                            <img src="picture/20170114104842189.png" />
                            <span>暗黑挂机3DBT版</span>
                        </a>
                    </li>
                    <li>
                        <a href="//sjyjzx.cn/az/41254/">
                            <img src="picture/20170114110159683.png" />
                            <span>仙逆OLBT版</span>
                        </a>
                    </li>
                    <li>
                        <a href="//sjyjzx.cn/az/41249/">
                            <img src="picture/20170114103921846.png" />
                            <span>赤月屠龙BT版</span>
                        </a>
                    </li>
                    <li>
                        <a href="//sjyjzx.cn/az/41242/">
                            <img src="picture/20170114101416522.png" />
                            <span>小悟空FightingBT版</span>
                        </a>
                    </li>
                </ul>					                    <ul class="mod-ten">
                    <li>
                        <a href="//sjyjzx.cn/az/41240/">
                            <img src="picture/20170114100217238.png" />
                            <span>龙珠Z复仇BT版</span>
                        </a>
                    </li>
                    <li>
                        <a href="//sjyjzx.cn/az/41238/">
                            <img src="picture/20170114094939205.png" />
                            <span>一代宗师BT版</span>
                        </a>
                    </li>
                    <li>
                        <a href="//sjyjzx.cn/az/41236/">
                            <img src="picture/20170114093608634.png" />
                            <span>乱斗奇兵BT破解版</span>
                        </a>
                    </li>
                    <li>
                        <a href="//sjyjzx.cn/az/41233/">
                            <img src="picture/20181231101432468.png" />
                            <span>传奇1.76游戏BT版</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <div id="ny_news_n2">
            <script>ny_news_n2();</script>
        </div>

        <section class="box3 box-one">
            <header class="mod-hd hd-two hd-three">
                <h2>相关文章</h2>
            </header>
            <ul class="mod-list box-pd">
                <li><span>02-12</span><a href="//sjyjzx.cn/news/144804/">《黑魂3》新低价不买良心会痛，杉果春节特惠已上线</a></li>
                <li><span>09-09</span><a href="//sjyjzx.cn/news/134168/">黑暗之魂3法系数据视频解析 黑暗之魂3法系伤害介绍</a></li>
                <li><span>09-08</span><a href="//sjyjzx.cn/news/134027/">黑暗之魂3背刺视频教学 黑暗之魂3PVP怎么背刺</a></li>
                <li><span>08-22</span><a href="//sjyjzx.cn/news/132217/">黑暗之魂3传火祭祀场死机黑屏解决方法一览</a></li>
                <li><span>07-12</span><a href="//sjyjzx.cn/news/128202/">黑暗之魂3冻伤buff图文解析 黑暗之魂3冻伤buff机制介绍</a></li>
            </ul>
        </section>

        <div id="ny_news_n5">
            <script>ny_news_n5();</script>
        </div>
        <div id="ny_bottom_n1">
            <script>ny_bottom_n1();</script>
        </div>
        <footer class="footer textct">
            <p><span class="text">手机版</span><i>|</i><a href="//www.sjyjzx.cn/game/29575.html">电脑版</a></p>
            <p>Copyright <em>©</em>2021 <a href="">www.sjyjzx.cn</a>. All Rights Reserved.</p>
            <p>监督电话：19尾70045026</p>
        </footer>
        <script>
            var _hmt = _hmt || [];
            setTimeout(function () {
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?16a7055cb6fcaf37983ea5ce9尾92d215";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            }, 0)
        </script>
        <script src="~/js/baidu_js_push.js"></script>
        <script type="application/ld+json">
    {
        "@@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
        "@@id": "//sjyjzx.cn/game/29575.html",
        "appid": "1660209859745260",
        "title": "黑暗之魂3",
        "images": [
	    	    	    "picture/20180112090510515.png",	    	    "picture/20150404101605254.jpg",	    	    "picture/20150203053007814.jpg"
        ],
        "description": "黑暗之魂3PC中文破解版是一款为玩家整合了艾雷德尔之烬DLC和环城DLC的免费游戏资源，将这款黑暗之魂3破解版下载后玩家将来到一个史诗般的世界",
        "pubDate": "2018-06-28T17:54:59",
		"Update": "2019-05-29T17:37:43",
		"data":{
            "WebPage":{
                "pcUrl":"//www.sjyjzx.cn/game/29575.html",
                "wapUrl":"//sjyjzx.cn/game/29575.html",
                "mipUrl":"//sjyjzx.cn/mip/game/29575.html",
                "fromSrc":"9尾游戏"
            }
        }
    }
        </script>
        <script>cambrian.render('tail')</script>
        <script language="JavaScript" src="~/js/api.php"></script>
        <script type="text/javascript">
            Zepto(function ($) {
                //展开收缩
                $('#details-ht').More({
                    Box: '#details-ht',
                    ConHt: '400',
                    Type: '2',
                    insert: '.details-pf'
                });
                //锚记跳转
                $('.box-tab li').click(function () {
                    var $index = parseInt($(this).index() + 1), $top = parseInt($('.box' + $index).offset().top - 88);
                    $('body,html').scrollTop($top)
                })
            })

                        //商务下载统计
        </script>
</body>
</html>