@{ 
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>房产新闻,商业地产资讯 - 商铺搜网</title>
    <meta name="keywords" content="商铺,商铺装修,商铺风水,商铺政策,开店创业故事" />
    <meta name="description" content="商铺搜网资讯中心为用户提供地产行业要问,商铺装修知识,并及时分享当地成功创业故事。" />
    <link rel="shortcut icon" href="http://www.shangpusou.com/favicon.ico" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="http://www.shangpusou.com/template/default/css/style.css" />
    <link rel="stylesheet" href="/css/newstyle.css" />
    <script src="/js/global.js" type="text/javascript"></script>
    <script src="/js/jquery-1.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.flashslider-1.0.min.js"></script>

</head>

<body class="bodybgred0 headstyle_normal red full">
    <script type="text/javascript">var current_domain = "http://www.shangpusou.com"; var current_cityid = "0"; var current_logfile = "mplogin.php";</script>

    <div class="header_top">
        <div class="top_main w1200 clear">
            <div class="top_l fl">
                <div class="city fl">
                    <div class="city-curr">全国</div>
                    <dl>
                        <dt>[</dt>
                        <dd><a href="http://www.shangpusou.com/changecity.php">切换城市</a></dd>
                        <dt>]</dt>
                    </dl>
                </div>
            </div>
            <div class="top_r fr">
                <div class="icon_box fl">
                    <a href="javascript:;">公众号<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="/picture/erweima.gif" alt="公众号">
                        <p>重要提醒不错过<br>手机操作更简单</p>
                    </div>
                </div>
                <div class="icon_box fl">
                    <a href="javascript:;">小程序<em class="ico_down"></em></a>
                    <div class="icon_box_img">
                        <img src="/picture/erweima_kf.gif" alt="小程序">
                        <p>扫码即用，无需下载</p>
                    </div>
                </div>
                <div class="zs fl">
                    <a href="#" target="_blank">+ 分站加盟</a>
                </div>
                <!--             <div class="pon_center fl">
                                <div class="flex_between pon_click">
                                    <span>个人中心</span>
                                    <em class="ico_down"></em>
                                </div>
                                <div class="list_box" style="display: none;">
                                    <a href="#" target="_blank">我的发布</a>
                                    <a href="#" target="_blank">我的浏览</a>
                                </div>
                            </div> -->
                <div id="mayilogin" class="login fl"><img src="/picture/loading.gif" border="0" align="absmiddle"></div>
            </div>
        </div>
    </div>

    <div id="ad_topbanner" class="clear"></div>


    <div class="header_mind w1200 clear">
        <div class="logo clear fl">
            <a href="http://www.shangpusou.com/" title="商铺网" class="fl">
                <img src="/picture/logo.png" alt="商铺搜" width="148" height="42">
            </a>
        </div>
        <div class="main_r fr">
            <a href="http://www.shangpusou.com/shangpusou-post.php?catid=0&cityid=0" class="fabu_btn" target="_blank">免费发布</a>
        </div>
        <div class="search fr">
            <form method="get" action="http://www.shangpusou.com/search.php?" id="searchForm" target="_blank">
                <input name="cityid" type="hidden" value="0">
                <input type="hidden" id="searchtype" name="mod" value="information" />
                <div class="input_content clear">
                    <input type="text" class="fl" value="请输入关键词搜索" name="keywords" id="searchheader" onmouseover="if(this.value==='请输入关键词搜索'){this.value='';}" x-webkit-speech lang="zh-CN" />
                    <input type="submit" value="搜 索" class="searchheader_submit fl" />
                </div>
                <div class="fl search_navurl">
                    <li><a href="#" style="color:" target="_blank" title="培训学校优转">培训学校优转<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="商铺出租">商铺出租<sup class=""></sup></a></li>
                    <li><a href="#" style="color:" target="_blank" title="酒店转让">酒店转让<sup class=""></sup></a></li>
                </div>
            </form>
        </div>
    </div><div class="daohang_con2">
        <div class="daohang2">
            <ul>
                <li><a href="http://www.shangpusou.com/" id="index">首页</a></li>
                <li><a target="_self" id="1" href="http://www.shangpusou.com//shangpuzhuanrang/"><font color="">生意转让</font><sup class=""></sup></a></li>
                <li><a target="_self" id="2" href="http://www.shangpusou.com//shangpuzushou/"><font color="">商铺租售</font><sup class=""></sup></a></li>
                <li><a target="_self" id="3" href="http://www.shangpusou.com//changfang/"><font color="">厂房</font><sup class=""></sup></a></li>
                <li><a target="_self" id="4" href="http://www.shangpusou.com//cangku/"><font color="">仓库</font><sup class=""></sup></a></li>
                <li><a target="_self" id="5" href="http://www.shangpusou.com//xiezilou/"><font color="">写字楼</font><sup class=""></sup></a></li>
                <li><a target="_self" id="6" href="http://www.shangpusou.com//qiuzuqiugou/"><font color="">找铺</font><sup class=""></sup></a></li>
                <li><a target="_self" id="news" href="http://www.shangpusou.com/http://www.shangpusou.com/news/"><font color="">资讯</font><sup class=""></sup></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--<div class="body1000">-->
    <div id="ad_header"></div>
    <div class="clearfix"></div>
    <div class="clear"></div>
    <div class="body1000">
        <div class="location"><a href="http://www.shangpusou.com/">商铺搜</a> <code>></code> &nbsp;热点资讯</div>
        <div class="clear"></div>
        
        <div class="clear"></div>
        <div class="column2">
            <div class="tuwen">
                <div class="hd">精彩图文</div>
                <div class="bd">
                    <ul>
                        @{
                            var hotGraphicsList = ViewBag.HotGraphicsList as List<Entity.ViewModels.HotGraphics>;
                            if (hotGraphicsList != null)
                            {
                                foreach (var m in hotGraphicsList)
                                {                                 
                                    <li><a href="/news/@(m.ArticleId).html" target="_blank"><img src="@m.CoverMap" alt="@m.ArticleTitle" /></a><span><a href="/news/@(m.ArticleId).html" title="@m.ArticleTitle">@m.ArticleTitle</a></span></li>
                                }
                            }
                        }                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="column3">
            <div class="news_daohang">
                <div class="bd">
                    <ul>
                        <div class="square fl">
                            <div class="hc">
                                <span class="cate">经验</span>
                                <span class="more"><a href="http://www.shangpusou.com/news/catid_1.html" target="_blank">更多</a></span>
                            </div>
                            <div class="bc">
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2718.html" title="教你几个能快速除去新家装修味道的巧招" target="_blank">教你几个能快速除去新家装修味道的巧招</a></span><span class="time">21-09-07</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1086.html" title="开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？" target="_blank">开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？</a></span><span class="time">21-09-06</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1481.html" title="蛋糕店初期如何创意营销来吸引顾客" target="_blank">蛋糕店初期如何创意营销来吸引顾客</a></span><span class="time">20-12-16</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2722.html" title="预付定金可以退吗 购房定金协议书怎么写看这里" target="_blank">预付定金可以退吗 购房定金协议书怎么写看这里</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/14.html" title="看香港人是如何投资商业地产" target="_blank">看香港人是如何投资商业地产</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/16.html" title="个人什么情况下选择投资商铺" target="_blank">个人什么情况下选择投资商铺</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/17.html" title="商铺投资回报率如何算 流行的商铺回报率是馅饼还是陷阱？" target="_blank">商铺投资回报率如何算 流行的商铺回报率是馅饼还是陷阱？</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/19.html" title="商铺投资回报率多少最适合投资？商铺投资回报率如何计算？" target="_blank">商铺投资回报率多少最适合投资？商铺投资回报率如何计算？</a></span><span class="time">70-01-01</span></div>
                            </div>
                        </div>
                        <div class="square fr">
                            <div class="hc">
                                <span class="cate">案例</span>
                                <span class="more"><a href="http://www.shangpusou.com/news/catid_2.html" target="_blank">更多</a></span>
                            </div>
                            <div class="bc">
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2729.html" title="警惕房产销售猫腻：收取未予标明价款属变相涨价" target="_blank">警惕房产销售猫腻：收取未予标明价款属变相涨价</a></span><span class="time">20-12-16</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2724.html" title="小区里这些车位不能进行买卖" target="_blank">小区里这些车位不能进行买卖</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1022.html" title="黄明教授卖卤菜一个月卖了20万" target="_blank">黄明教授卖卤菜一个月卖了20万</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1023.html" title="周新成小吃店开了19年 顾客自己付钱找钱" target="_blank">周新成小吃店开了19年 顾客自己付钱找钱</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1024.html" title="女白领弃万元月薪投资10万元开米粉店" target="_blank">女白领弃万元月薪投资10万元开米粉店</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1025.html" title="潘石屹用18年从打工仔到身价300亿身价的创业故事" target="_blank">潘石屹用18年从打工仔到身价300亿身价的创业故事</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1037.html" title="沙漠孤儿穆赫德·阿利塔德变身“脚手架之王”" target="_blank">沙漠孤儿穆赫德·阿利塔德变身“脚手架之王”</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1038.html" title="从打工妹到女首富的周群飞创业靠打拼" target="_blank">从打工妹到女首富的周群飞创业靠打拼</a></span><span class="time">70-01-01</span></div>
                            </div>
                        </div>
                        <div class="square fl">
                            <div class="hc">
                                <span class="cate">风水</span>
                                <span class="more"><a href="http://www.shangpusou.com/news/catid_3.html" target="_blank">更多</a></span>
                            </div>
                            <div class="bc">
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2720.html" title="主卧室风水布局禁忌" target="_blank">主卧室风水布局禁忌</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2726.html" title="家居风水中如何装饰厨房" target="_blank">家居风水中如何装饰厨房</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/868.html" title="新店开张 商铺搜网教你如何如何选择风水" target="_blank">新店开张 商铺搜网教你如何如何选择风水</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/869.html" title="创业路上擦亮慧眼 看清店面风水" target="_blank">创业路上擦亮慧眼 看清店面风水</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/870.html" title="如何改善店面或者公司的风水" target="_blank">如何改善店面或者公司的风水</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/871.html" title="店面如何装修？商铺装修的四大禁忌" target="_blank">店面如何装修？商铺装修的四大禁忌</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/872.html" title="楼盘商铺风水选址方法" target="_blank">楼盘商铺风水选址方法</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1004.html" title="商铺风水解读：做小买卖稳赚不赔" target="_blank">商铺风水解读：做小买卖稳赚不赔</a></span><span class="time">70-01-01</span></div>
                            </div>
                        </div>
                        <div class="square fr">
                            <div class="hc">
                                <span class="cate">装修</span>
                                <span class="more"><a href="http://www.shangpusou.com/news/catid_4.html" target="_blank">更多</a></span>
                            </div>
                            <div class="bc">
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2715.html" title="装修一定要懂得验房，这里有验房知识" target="_blank">装修一定要懂得验房，这里有验房知识</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/804.html" title="面包和蛋糕等烘焙类店面装修效果图" target="_blank">面包和蛋糕等烘焙类店面装修效果图</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/805.html" title="发廊,理发店装修效果图" target="_blank">发廊,理发店装修效果图</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/806.html" title="解读：宜家商场布局“绕”道" target="_blank">解读：宜家商场布局“绕”道</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/807.html" title="灵动购物中心设计：让动线“活起来”" target="_blank">灵动购物中心设计：让动线“活起来”</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/808.html" title="2011年中秋节商场装饰布置专栏" target="_blank">2011年中秋节商场装饰布置专栏</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/809.html" title="办公室、酒吧餐厅、家居照明设计" target="_blank">办公室、酒吧餐厅、家居照明设计</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/810.html" title="商业卖场如何设计有四大技巧" target="_blank">商业卖场如何设计有四大技巧</a></span><span class="time">70-01-01</span></div>
                            </div>
                        </div>
                        <div class="square fl">
                            <div class="hc">
                                <span class="cate">动态</span>
                                <span class="more"><a href="http://www.shangpusou.com/news/catid_5.html" target="_blank">更多</a></span>
                            </div>
                            <div class="bc">
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/1.html" title="招商地产董事长" 被架空" 贺建亚成第一责" target="_blank">招商地产董事长"被架空" 贺建亚成第一责</a></span><span class="time">21-11-19</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2731.html" title="疫情对楼市影响几何？中指院：市场量价都存在下调压力" target="_blank">疫情对楼市影响几何？中指院：市场量价都存在下调压力</a></span><span class="time">21-09-29</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2733.html" title="病毒可能长期存在 我们普通人应该如何应对？" target="_blank">病毒可能长期存在 我们普通人应该如何应对？</a></span><span class="time">21-09-06</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2714.html" title="央行降准:房企缓解资金压力 增加房贷利率下调的可能" target="_blank">央行降准:房企缓解资金压力 增加房贷利率下调的可能</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2725.html" title="放开落户不是为了找楼市“接盘侠”" target="_blank">放开落户不是为了找楼市“接盘侠”</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2716.html" title="开年8000亿元降准“礼包”将惠及谁？" target="_blank">开年8000亿元降准“礼包”将惠及谁？</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2723.html" title="买房迁户口的条件是什么?迁户需要什么手续?" target="_blank">买房迁户口的条件是什么?迁户需要什么手续?</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2727.html" title="2020年房地产信托规模将下滑" target="_blank">2020年房地产信托规模将下滑</a></span><span class="time">70-01-01</span></div>
                            </div>
                        </div>
                        <div class="square fr">
                            <div class="hc">
                                <span class="cate">资料</span>
                                <span class="more"><a href="http://www.shangpusou.com/news/catid_6.html" target="_blank">更多</a></span>
                            </div>
                            <div class="bc">
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2730.html" title="置业指南：房屋买卖合同需要公证吗？" target="_blank">置业指南：房屋买卖合同需要公证吗？</a></span><span class="time">21-09-29</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/2721.html" title="房产小知识  购房中五证两书一表指的是什么" target="_blank">房产小知识  购房中五证两书一表指的是什么</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/706.html" title="《厂房租赁合同书》" target="_blank">《厂房租赁合同书》</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/707.html" title="《商用房委托投资经营合同》" target="_blank">《商用房委托投资经营合同》</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/708.html" title="《个人房屋租赁租房合同范本》" target="_blank">《个人房屋租赁租房合同范本》</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/709.html" title="《市场场地租赁合同》" target="_blank">《市场场地租赁合同》</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/710.html" title="《门面出租合同》" target="_blank">《门面出租合同》</a></span><span class="time">70-01-01</span></div>
                                <div class="li"><span class="title"><a href="http://www.shangpusou.com/news/711.html" title="《房屋买卖合同范本》" target="_blank">《房屋买卖合同范本》</a></span><span class="time">70-01-01</span></div>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
            <div class="read">
                <div class="hd"><span>热门阅读排行</span></div>
                <div class="bd">
                    <ul>
                        <li><a href="http://www.shangpusou.com/news/1.html" title="招商地产董事长" 被架空"="" 贺建亚成第一责"="" style="color:red;">招商地产董事长"被架空" 贺建亚成第一责</a></li>
                        <li><a href="http://www.shangpusou.com/news/1086.html" title="开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？" style="color:red;">开冷饮店流程是什么？开冷饮店设备清单,开冷饮店需要多少钱？</a></li>
                        <li><a href="http://www.shangpusou.com/news/1024.html" title="女白领弃万元月薪投资10万元开米粉店" style="color:red;">女白领弃万元月薪投资10万元开米粉店</a></li>
                        <li><a href="http://www.shangpusou.com/news/1019.html" title="开水果店的流程,开个水果店需要作哪些准备" style="color:red;">开水果店的流程,开个水果店需要作哪些准备</a></li>
                        <li><a href="http://www.shangpusou.com/news/19.html" title="商铺投资回报率多少最适合投资？商铺投资回报率如何计算？" style="color:red;">商铺投资回报率多少最适合投资？商铺投资回报率如何计算？</a></li>
                        <li><a href="http://www.shangpusou.com/news/2732.html" title="商业地产大数据合作说明" style="color:red;">商业地产大数据合作说明</a></li>
                        <li><a href="http://www.shangpusou.com/news/1510.html" title="公司门口摆放石雕狮子应注意哪些风水问题？" style="color:red;">公司门口摆放石雕狮子应注意哪些风水问题？</a></li>
                        <li><a href="http://www.shangpusou.com/news/1372.html" title="商铺投资回报率如何计算？ &nbsp;  商铺投资回报率多少" style="color:red;">商铺投资回报率如何计算？ &nbsp;  商铺投资回报率多少</a></li>
                        <li><a href="http://www.shangpusou.com/news/1020.html" title="大学生丁齐全开3D打印社月入1.5万" style="color:red;">大学生丁齐全开3D打印社月入1.5万</a></li>
                        <li><a href="http://www.shangpusou.com/news/1469.html" title="商铺信息如何才能在左边展示" style="color:red;">商铺信息如何才能在左边展示</a></li>
                        <li><a href="http://www.shangpusou.com/news/1507.html" title="北京讨论控制商住房市场 分析称限制在售及存量交易可能性小" style="color:red;">北京讨论控制商住房市场 分析称限制在售及存量交易可能性小</a></li>
                        <li><a href="http://www.shangpusou.com/news/17.html" title="商铺投资回报率如何算 流行的商铺回报率是馅饼还是陷阱？" style="color:red;">商铺投资回报率如何算 流行的商铺回报率是馅饼还是陷阱？</a></li>
                        <li><a href="http://www.shangpusou.com/news/1383.html" title="旺财门面风水 什么样的门面风水才旺财" style="color:red;">旺财门面风水 什么样的门面风水才旺财</a></li>
                        <li><a href="http://www.shangpusou.com/news/1508.html" title="店铺里的发财树怎么养才能招财？" style="color:red;">店铺里的发财树怎么养才能招财？</a></li>
                        <li><a href="http://www.shangpusou.com/news/1072.html" title="开办单位内部食堂需要什么条件和手续" style="color:red;">开办单位内部食堂需要什么条件和手续</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div><div id="ad_footerbanner"></div>
        <div style="display: none" id="ad_none">
        </div>


        <div class="footer">
            <div class="footer_common">
                <div class="footer_common_link">
                    <a href="http://www.shangpusou.com/aboutus.html" rel="nofollow" target="_blank">网站简介</a>
                    <a href="http://www.shangpusou.com/aboutus-id-2.html" rel="nofollow" target="_blank">广告服务</a>
                    <a href="http://www.shangpusou.com/aboutus-id-3.html" rel="nofollow" target="_blank">联系我们</a>
                    <a href="http://www.shangpusou.com/faq.html" rel="nofollow" target="_blank">网站帮助</a>
                    <a href="http://www.shangpusou.com/friendlink.html" rel="nofollow" target="_blank">友情链接</a>
                    <a href="http://www.shangpusou.com/announce.html" rel="nofollow" target="_blank">网站公告</a>
                    <a href="http://www.shangpusou.com/sitemap.html" rel="nofollow" target="_blank">网站地图</a>
                </div>
                <div class="footer_common_con">
                    <p>
                        Copyright &copy; 商铺搜版权所有. 本站所有信息均归商铺搜网用户所发，严禁转载。 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">湘ICP备2021013894号</a>
                        <script>
                            var _hmt = _hmt || [];
                            (function () {
                                var hm = document.createElement("script");
                                hm.src = "https://hm.baidu.com/hm.js?27390b4003f337546042d1a4ea519aff";
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(hm, s);
                            })();
                        </script>
                    </p>
                </div>
            </div>
        </div>


        <script type="text/javascript">loadDefault(["addiv", 'shangpusou', "mayilogin"]);</script>
    </div>
</body>
</html>
<script type="text/javascript">loadDefault(['newsindex', 'ppRoll']);</script>
<script type="text/javascript">var indextop = new ppRoll({ speed: 60, demo: "indextop", demo1: "indextop1", demo2: "indextop2", objStr: "indextop", width: "310px", height: "217px", direction: "top" });</script>